        .credit-row{
            margin-bottom:2em;
        }
        .credit-row a{
            display:inline-flex;
            height:200px;
            width:100%;
            align-items:center;
        }
        .credit-image-container{
            height:100%;
            width:20%;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-right:1em;
        }
        #credit-flag{
            box-shadow: black 3px 3px 5px;
        }
        .material-symbols-outlined{
            color:black;
            font-size:10em;
        }