.team1{
    text-decoration: underline;
    text-decoration-color:yellow;
}
.team2{
    text-decoration: underline;
    text-decoration-color:mediumpurple;
}
.team3{
    text-decoration: underline;
    text-decoration-color:deepskyblue;
}
.team4{
    text-decoration: underline;
    text-decoration-color:lime;
}
.has-tag-team{
    height:80%;
}