.event-logo-image {
    display:flex;
    justify-content: center;
    max-height: 700px;
    margin:0.5em;
}

table, th, td {
    text-align: center;
}

iframe {
    border: 0;
    width: 100%;
    height: 500px;
}
#osm-map {
    border: 0;
    width: 100%;
    height: 500px;
}
@media (prefers-color-scheme: dark) {
    #osm-map {
        filter: brightness(0.75) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    }
}