.image-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

h1 {
    margin-block: -0.2em;
}

.gridview-row {
    grid-template-rows: 20em;
    grid-auto-columns: 30%;
}

.competitor-title {
    font-size: 24px;
    display: flex;
}

.competitor-vs {
    font-size: 64px;
    text-align: center;
}

.competitor-and {
    font-size: 64px;
    text-align: center;
}

.team-vs {
    font-size: 64px;
    text-align: center;
}

.fight-media {
    text-align: center
}
.fight-image {
    max-width: 100%;
}

.instagram-media {
    background: #FFF;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    margin: 1px;
    width: 800px;
    min-width: 326px;
    padding: 0;
}