.big-trophy{
	height: 0.9em;
	margin-inline-end: 0.1em;
}
.gridview-row {
	grid-template-rows: 20em;
    grid-auto-columns: 30%;
}
.gridview-title {
	height: FIT-CONTENT;
	align-items: center;
}
.gridview-subtitle {
	font-size: 15px;
	width: 100%;
	display: flex;
}
.gridview-subtitle p{
   margin: 0em;
}
.gridview-image-container{
	height:80%;
}
.lb-table-container{
	display:flex;
	justify-content:center;
}
.header-warning{
    margin:0.5em 0 0 0;
    font-style:italics;
    color:red;
}

.robot-name-cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.material-symbols-outlined{
            position:relative;
            bottom: -0.115em
       }

.lb-positive{
    color:limegreen;
}
.lb-neutral{
    color:black;
}
.lb-negative{
    color:red;
}