.big-trophy{
	height: 0.9em;
	margin-inline-end: 0.1em;
}

.gridview-title {
	height: FIT-CONTENT;
	align-items: center;
}
.gridview-subtitle {
	font-size: 15px;
	width: 100%;
	display: flex;
}
.gridview-subtitle p{
   margin: 0em;
}
.lb-table-container{
	display:flex;
	justify-content:center;
}
.header-warning{
    margin:0.5em 0 0 0;
    font-style:italics;
    color:var(--warning-colour);
}

.robot-name-cell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.difference-icon{
    position:relative;
    bottom: -0.115em
}

.lb-positive{
    color: var(--positive-colour);
}
.lb-neutral{
    color:var(--font-colour);
}
.lb-negative{
    color:var(--negative-colour);
}
.alphanum{
    font-size:1em;
}
.mobile-show {
    visibility: hidden;
    display: none;
}

@media (max-width: 700px){
  .gridview-container {
    grid-template-columns: repeat(auto-fit,50%);
  }
  .mobile-hide {
    display: none;
    }
  .mobile-show {
    visibility: visible;
    display: grid;
    }
}