.data-block {
    border: black 1px solid;
    border-radius: 2em;
    padding: 0 1em 1em 1em;
    margin-bottom: 1em;
    width: fit-content;
}

.gridview-row {
    height: 15em;
}

.gridview-square {
    width: calc(40%);
}

.tf-divider {
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    width: calc(49% - 2em);
    border: black 1px solid;
}