.gridview-row{
    grid-template-rows:auto;
}
.gridview-title{
    font-size:1em;
}
.gridview-title a{
    display:flex
}
.gridview-square{
    padding:0 0.75em 0 0.75em;
}
.weapon-category{
    padding-left:0.25em;
    border-left:grey;
    border-left-style:solid;
    border-left-width:thin;
}
.weapon-subcategory{
    margin-left:0.75em;
}
.weapon-leaf-category{
    margin-left:0.75em;
}
.grid-weapon-description{
    grid-column-start:2;
    grid-column-end:6;
}