.web-links {
  display: inline-flex;
  flex-wrap:wrap;
  width: 100%;
  justify-content: space-evenly;
}
.web-links a {
  margin-inline:0.5em;
  align-items: center;
  display: inline-flex;
}
.web-links a .spacer {
  width: 0.5em;
}
.web-links a img {
  width: 2em;
  height: 2em;
}
