.web-links{
    display:inline-flex;
    width:100%;
    justify-content: space-evenly;
    a{
        align-items: center;
        display: inline-flex;
        .spacer{
            width: 0.5em;
        }
        img{
            width: 2em;
            height: 2em;
        }
    }
}