{%extends "base.html"%}
{% block meta %}
<title>Credits - Roboteer's Tavern</title>
{% endblock %}
{%block content%}
    <div class="main-content">
    <h1>Credits</h1>
        <p>Question Mark Icon: <a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Dave Gandy - Flaticon</a></p>
        <p>Flags: <a href="https://flagicons.lipis.dev">Lipis Flag Icons</a></p>
        <p>Medal Icon: <a href="https://www.flaticon.com/free-icons/trophy" title="trophy icons">Trophy icons created by Freepik - Flaticon</a> : https://www.flaticon.com/premium-icon/medal_3113054</p>
        <p>Trophy Icon: <a href="https://www.flaticon.com/free-icons/trophy" title="trophy icons">Trophy icons created by Pixel perfect - Flaticon</a> : https://www.flaticon.com/free-icon/trophy_889518#</p>
    </div>
{% endblock %}