{% extends "base.html" %}
{% block content %}
    <div class="main-content">
        <h1>Are you sure you want to delete {{ instance }}?</h1>
        <form method="get" {% if next_id %}
              action="{% url 'main:delete' model instance.id next_id %}"
        {% else %}
              action="{% url 'main:delete_noreturn' model instance.id %}"
        {% endif %}
              style="flex-direction: column">
            <label> Confirm Deletion
                <input name="confirm" type="checkbox">
            </label>
            <label>
                <input name="redirect" type="text" hidden value="{{ redirect }}">
            </label>
            <br>
            <input type="submit" value="Confirm">
        </form>
    </div>
{% endblock %}