{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block meta %}
    <title>Edit Contest - Roboteer's Tavern</title>
{% endblock %}
{% block content %}
    <div class="main-content">
        {% if contest_id %}
            <form method="post" action="{% url 'main:editContest' contest_id %}">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Edit Contest</h1></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {{ form|crispy }}
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        {% else %}
            Something has gone wrong
        {% endif %}
    </div>
{% endblock %}
