{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>{{ event }} - Roboteer's Tavern</title>
    <link rel="stylesheet" href="{% static 'style/event_detail.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    {% if event %}
        <div class="main-content">
        <div class="heading">
            <img class="flag-image" src="{{ event.get_flag }}" alt="Flag">
            <h1>{{ event.name }}{%if event.missing_brackets%} ⚠️{%endif%}</h1>
            {% if can_change %}
                <a href="{% url 'main:edtEvent' event.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Event"></a>
            {% endif %}
        </div>



        {% if event.logo or event.franchise.logo %}
            <div class="event-logo-image">
                <img class="fit-image" src="{{event.get_logo_url}}" alt="logo">
            </div>
        {% endif %}

        {%if event.missing_brackets%}
            <p style="color:red">⚠️ A complete bracket for this event has not yet been found. It is likely many of the fights from this event are not listed on the site. Fights may have unknown winners, or be listed slightly wrong.</p>
        {%endif%}



        <div class="event-details">
            <p>Organised by: <a href="{% url 'main:franchiseDetail' event.franchise.slug %}">{{ event.franchise }}</a>
                {% if event.franchise.website %}: {{ event.franchise.website|urlize }}{% endif %}</p>
            <p>
                {% if event.is_one_day %}
                    Event date: {{ event.start_date }}
                {% else %}
                    Event dates: {{ event.start_date }} - {{ event.end_date }}
                {% endif %}
            </p>
        </div>



        <p>{{ event.description|urlize }}</p>



        {% if contests|length !=  0 %}
            <div class="contest-table">
                <table>
                    <thead>
                    <th>Contest Name</th>
                    <th>Weight Class</th>
                    <th>Fight Type</th>
                    </thead>
                    {% for contest in contests %}
                        <tr>
                            <td>
                                {%if contest.fight_set.all|length > 0%}
                                    <a href="{% url 'main:contestDetail' contest.id %}">{{ contest }}</a>
                                {%else%}
                                    {{ contest }}
                                {%endif%}
                            </td>
                            <td>{{ contest.weight_class.weight_string }}</td>
                            <td>{{ contest.get_fight_type_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}


        {% if event.award_set.all|length > 0 %}
            <p>There
                {% if event.award_set.all|length == 1 %}
                    was <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} award</a>
                {% else %}
                    were <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} awards</a>
                {% endif %}
                given out at this event</p>
        {% endif %}
            <br>


		<div id="osm-map" style="z-index:0" location_name="{{ event.get_location.name }}" lat="{{ event.get_location.latitude }}" lng="{{ event.get_location.longitude }}"></div>
		<script src="{% static 'scripts/open_street_map.js' %}"></script>

            <h2>This event has been archived using the following websites:</h2>
        {% for source in event.source_set.all %}
                <ul>
                    <ui style="border:None;display:flex">
                        <a href="{{ source.link }}" style="display:inherit">
                            <img src="{%if source.archived %}{%static 'web_logos/WA.png'%}{%else%}https://icon.horse/icon/{{source.get_domain}}{%endif%}" alt="{{ source.name }}" width="25px" height="25px" style="padding-inline:1em">
                            <span>{{source.name}}</span>
                        </a>
                        <span style="padding-inline:1em">{%if source.archived %} archived. {%else%} last accessed {{source.last_accessed}}. {%endif%}</span>
                    </ui>
                </ul>
        {% endfor %}


    {% else %}
        There is no event with this ID.
    {% endif %}
</div>
{% endblock %}