{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>{{ event }} - Roboteer's Tavern</title>
    <link rel="stylesheet" href="{% static 'style/event_detail.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    {% if event %}
        <div class="main-content">
        <div class="heading">
            <img class="flag-image" src="{{ event.get_flag }}" alt="Flag">
            <h1>{{ event.name }}</h1>
            {% if can_change %}
                <a href="{% url 'main:edtEvent' event.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Event"></a>
            {% endif %}
        </div>



        {% if event.logo or event.franchise.logo %}
            <div class="event-logo-image">
                <img class="fit-image" src="{{event.get_logo_url}}" alt="logo">
            </div>
        {% endif %}



        <div class="event-details">
            <p>Organised by: <a href="{% url 'main:franchiseDetail' event.franchise.slug %}">{{ event.franchise }}</a>
                {% if event.franchise.website %}: {{ event.franchise.website|urlize }}{% endif %}</p>
            <p>
                {% if event.is_one_day %}
                    Event date: {{ event.start_date }}
                {% else %}
                    Event dates: {{ event.start_date }} - {{ event.end_date }}
                {% endif %}
            </p>
        </div>



        <p>{{ event.description|urlize }}</p>



        {% if event.contest_set.all|length !=  0 %}
            <div class="contest-table">
                <table>
                    <thead>
                    <th>Contest Name</th>
                    <th>Weight Class</th>
                    <th>Fight Type</th>
                    </thead>
                    {% for contest in event.contest_set.all %}
                        <tr>
                            <td><a href="{% url 'main:contestDetail' contest.id %}">{{ contest }}</a></td>
                            <td>{{ contest.weight_class.weight_string }}</td>
                            <td>{{ contest.get_fight_type_display }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            {% if can_change %}
                <h2 id="no-contest-warn">Warning: This event has no contests, please add one.</h2>
            {% endif %}
        {% endif %}


        {% if event.award_set.all|length > 0 %}
            <p>There
                {% if event.award_set.all|length == 1 %}
                    was <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} award</a>
                {% else %}
                    were <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} awards</a>
                {% endif %}
                given out at this event</p>
        {% endif %}


		<div id="osm-map" location_name="{{ event.get_location.name }}" lat="{{ event.get_location.latitude }}" lng="{{ event.get_location.longitude }}"></div>
		<script src="{% static 'scripts/open_street_map.js' %}"></script>



    {% else %}
        There is no event with this ID.
    {% endif %}
</div>
{% endblock %}