{%extends "base.html"%}
{% load static %}
{% block meta %}
<title>Events - Roboteer's Tavern</title>
{% endblock %}
{%block content%}
{%if event_list%}
    <div class="main-content">
	{%for event in event_list%}
		<div class="hrz-index-result">
        <span class="hrz-index-image">
        <img class="fit-image"
             src="{% if event.logo %} {{ event.logo.url }} {% elif event.franchise.logo %} {{ event.franchise.logo.url }} {% else %} {% static "unknown.png" %}  {% endif %}"
             alt="Event Logo">
        </span>
            <div class="hrz-index-content">
                <span class="hrz-index-title">
                <img class="flag-image" src="{{ event.get_flag }}" alt="Flag">
                <a href="{% url 'main:eventDetail' event.id %}">{{ event.name }}</a>
            </span>
                <span class="hrz-index-details">
                    <span>{{ event.start_date|date:"jS F Y" }}</span>
                </span>
                <span class="hrz-index-description">
                    {{ event.description|truncatechars:650 }}
                </span>
            </div>
        </div>
    {%endfor%}
    </div>
{% else %}
    Something has gone wrong, No events to display
{% endif %}
{%endblock%}
