{% extends "base.html" %}
{% block content %}
    {% if event %}
        {% if event.logo or event.franchise.logo %}
        <img src=
                     "{% if event.logo %} {{ event.logo.url }}
                     {% else %}
                         {% if event.franchise.logo %} {{ event.franchise.logo.url }}{% endif %}
                     {% endif %}" alt="logo">
        {% endif %}
        <h1>{{ event.name }}</h1>
        <p>{{ event.description }}</p>
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/view?key={{ map }}&zoom=14&center={{ event.latitude }},{{ event.longitude }}"></iframe>
        <h2>Contests</h2>
        <ul>
            {% for contest in event.contest_set.all %}
                <li>{{ contest }}
                    {% if reg_open %}
                        <a href="{% url 'main:contestSignup' contest.id %}">Sign up.</a>
                    {% else %}
                        <a href="{% url 'main:contestDetail' contest.id %}">View.</a>
                    {% endif %}

                {% if can_change %}
                    <a href="{% url 'main:editContest' contest.id %}"> Edit Contest </a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if can_change %}
            <a href="{% url 'main:newContest' event.id %}">Add Contest.</a>
            <a href="{% url 'main:editEvent' event.id %}">Edit Event.</a>
        {% endif %}
    {% else %}
        There is no event with this ID.
    {% endif %}
{% endblock %}