{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/gridview.css' %}" />
    <link rel="stylesheet" href="{% static 'style/fight_detail.css' %}">
{% endblock %}
{% block content %}
    {% if fight %}
        <div class="main-content">
            <h1> {{ fight.non_latin_name }}
                {% if can_change %}
                    <a href="{% url 'main:edtFightOverview' fight.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Fight"></a>
                {% endif %}
            </h1>
            <h4 style="font-weight:normal">A {% if fight.fight_type == "NC" %}round of{% else %}fight at{% endif %} the <a href="{% url 'main:contestDetail' fight.contest.id %}">{{fight.contest}}</a> contest at <a href="{% url 'main:eventDetail' fight.contest.event.slug %}">{{fight.contest.event}}</a></h4>

            <div class="fight-media">
                {%include "snippets/fight_media.html" with fight=fight %}
            </div>

        <h4>{{ fight.get_fight_type_display }} </h4>
        {% if fight.fight_version_set.last.tag_team == 0 %}
            <div class="gridview-container{%if fight.fight_version_set.all|length == 2%} vs-is-present{%endif%}">
                {% for fv in fight.fight_version_set.all %}
                    {% if forloop.counter == 2 and forloop.last %}
                        <div class="competitor-vs">
                            <p>vs</p>
                        </div>
                    {% endif %}
                    <div class="gridview-square competitor-square {%if fv.won%} winners-box {%endif%}">
                        <div class="gridview-title">
                            <img class="flag-image" src="{{ fv.version.get_flag }}" alt="{{fv.version.country}} Flag">
                            <a href="{% url 'main:versionDetail' fv.version.id %}">{{ fv.version }}</a>
                        </div>
                        <div class="gridview-image-container">
                            <img class="fit-image" src="{% if fv.version.image %}{{ fv.version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                 alt="{%if fv.version.image %}Robot {{fv.version}}{%else%}Unknown Robot Placeholder Image{%endif%}">
                        </div>
                    </div>
                {% endfor %}
                </div>
        {% elif fight.competitors.all|length > 2 and fight.fight_version_set.last.tag_team > 0 %}
            {% for team in fight.teams_fv %}
                <div class="gridview-container{%if team|length == 2%} vs-is-present{%endif%}{%if team.0.won%} winners-box{%endif%}">
                    {% for fv in team %}
                        {% if forloop.counter == 2 and forloop.last %}
                            <div class="competitor-and">
                                <p>&</p>
                            </div>
                        {% endif %}
                        <div class="gridview-square">
                            <div class="gridview-title">
                                <img class="flag-image" src="{{ fv.version.get_flag }}" alt="{{fv.version.country}} Flag">
                                <a href="{% url 'main:versionDetail' fv.version.id %}">{{ fv.version }}</a>
                            </div>
                            <div class="gridview-image-container">
                                <img class="fit-image" src="{% if fv.version.image %}{{ fv.version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                     alt="{%if fv.version.image%}Robot {{fv.version}}{%else%}Unknown Robot Placeholder Image{%endif%}">
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% if not forloop.last %}
                    <div class="team-vs">vs</div>
                {% endif %}
            {% endfor %}

        {% else %}
            This fight appears to have no competitors
        {% endif %}

        <div class="results">
            <p>
                {% if fight.winners|length > 0 %}
                    {% for robot in  fight.winners %}
                        {{ robot }} {% if not forloop.last %} & {% endif %}
                    {% endfor %}
                    {% if fight.winners|length == 1 %}wins{% else %}win{% endif %} by
                {% endif %}
                {{ fight.get_method_display }}
            </p>
        </div>
            <br>
            <br>
            <div class="fight-nav">
                <div class="fight-nav-text">
                {%if previous_fight %}
                    <a href="{%url 'main:fightDetail' previous_fight.id %}"><< Previous {% if previous_fight.fight_type == "NC" %}Round{% else %}Fight{% endif %}</a>
                    <p>{{previous_fight}}</p>
                {%endif%}
                </div>
                <div class="fight-nav-text fnt-right">
                {%if next_fight %}
                    <a href="{%url 'main:fightDetail' next_fight.id %}">Next {% if next_fight.fight_type == "NC" %}Round{% else %}Fight{% endif %} >></a>
                    <p>{{next_fight}}</p>
                {%endif%}
                </div>
            </div>
    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}