{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title> {{ fight }} - Roboteer's Tavern </title>
    <link rel="stylesheet" href="{% static 'fight_detail.css' %}">
{% endblock %}
{% block content %}
    {% if fight %}
        <div class="main-content">
        <h1> {{ fight }}</h1>
        <h4>{{ fight.get_fight_type_display }} </h4>
        {% if fight.fight_version_set.last.tag_team == 0 %}
            <div class="competitor-row">
                {% for version in fight.competitors.all %}
                    {% if forloop.counter == 2 and forloop.last %}
                        <div class="competitor-vs">
                            <p>vs</p>
                        </div>
                    {% endif %}
                    <div class="competitor-square">
                        <div class="competitor-title">
                            <img class="flag-image" src="{{ version.get_flag }}" alt="Flag">
                            <a href="{% url 'main:versionDetail' version.id %}">{{ version }}</a>
                        </div>
                        <div class="image-container">
                            <img class="fit-image" src="
                                    {% if version.image %}{{ version.image.url }} {% else %}{% static "unknown.png" %}{% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="competitor-row">
                    {% endif %}
                {% endfor %}
                </div>
        {% elif fight.competitors.all|length > 2 and fight.fight_version_set.last.tag_team > 0 %}
            {% for team in fight.teams %}
                <div class="competitor-row">
                    {% for version in team %}
                        {% if forloop.counter == 2 and forloop.last %}
                            <div class="competitor-and">
                                <p>&</p>
                            </div>
                        {% endif %}
                        <div class="competitor-square">
                            <div class="competitor-title">
                                <img class="flag-image" src="{{ version.get_flag }}" alt="Flag">
                                <a href="{% url 'main:versionDetail' version.id %}">{{ version }}</a>
                            </div>
                            <div class="image-container">
                                <img class="fit-image" src="
                                        {% if version.image %}{{ version.image.url }} {% else %}{% static "unknown.png" %}{% endif %}"
                                     alt="Robot Image">
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div>
                            <div class="competitor-row">
                        {% endif %}
                    {% endfor %}
                    </div>
                {% if not forloop.last %}
                    <div class="team-vs">vs</div>
                {% endif %}
            {% endfor %}

        {% else %}
            This fight appears to have no competitors
        {% endif %}

        <div class="results">
            <p>
                {% if fight.winners|length > 0 %}
                    {% for robot in  fight.winners %}
                        {{ robot }} {% if not forloop.last %} & {% endif %}
                    {% endfor %}
                    {% if fight.winners|length == 1 %}wins{% else %}win{% endif %} by
                {% endif %}
                {{ fight.get_method_display }}
            </p>
        </div>


        <div class="fight-media">
            {% if fight.internal_media or fight.external_media %}
                {% if fight.get_media_type == "LI" %}
                    <img src="{{ fight.internal_media.url }}" alt="This Image is Broken, please change it.">

                {% elif fight.get_media_type == "EI" %}
                    <img src="{{ fight.external_media }}" alt="This Image is Broken, please change it.">

                {% elif fight.get_media_type == "LV" %}
                    <video src="{{ fight.internal_media.url }}" width="800" height="450" controls></video>

                {% elif fight.get_media_type == "FB" %}
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0"
                            nonce="DsgXG9yz"></script>
                    <div class="fb-video" data-href="{{ fight.external_media }}" data-width="800" data-height="450"
                         data-show-text="false">
                        <blockquote cite="{{ fight.external_media }}" class="fb-xfbml-parse-ignore">
                            <a href="{{ fight.external_media }}">Fight Video</a>
                        </blockquote>
                    </div>

                {% elif fight.get_media_type == "IF" %}
                    <iframe src="{{ fight.external_media }}" width="800px" height="480px" title="Fight Video"
                            allowfullscreen></iframe>

                {% elif fight.get_media_type == "IG" %}
                    <blockquote class="instagram-media" data-instgrm-permalink="{{ fight.external_media }}"
                                data-instgrm-version="14">
                        Fight video on Instagram
                    </blockquote>
                    <script async src="http://www.instagram.com/embed.js"></script>

                {% elif fight.get_media_type == "TW" %}
                    <blockquote style="width: 800px;height:450px" class="twitter-tweet"><a
                            href="{{ fight.external_media }}">Fight video on Twitter.</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                {% elif fight.get_media_type == "TT" %}
                    <blockquote class="tiktok-embed" cite="{{ fight.external_media }}"
                                data-video-id="{{ fight.get_tt_id }}">
                        <section></section> <!--This section tag is required, embed will fail without it. -->
                    </blockquote>
                    <script async src="https://www.tiktok.com/embed.js"></script>

                {% else %}
                    <p>We're unsure how to embed this media, here's a <a href="{{ fight.external_media }}">link.</a></p>
                {% endif %}
            {% endif %}

        </div>

    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}