{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title> {{ fight.non_latin_name }} - Roboteer's Tavern </title>
    <link rel="stylesheet" href="{% static 'style/fight_detail.css' %}">
    <script>

    </script>
{% endblock %}
{% block content %}
    {% if fight %}
        <div class="main-content">
        <h1> {{ fight.non_latin_name }}
            {% if can_change %}
                <a href="{% url 'main:edtFightOverview' fight.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Fight"></a>
            {% endif %}
        </h1>
        <h4>{{ fight.get_fight_type_display }} </h4>
        {% if fight.fight_version_set.last.tag_team == 0 %}
            <div class="gridview-row competitor-row">
                {% for version in fight.competitors.all %}
                    {% if forloop.counter == 2 and forloop.last %}
                        <div class="competitor-vs">
                            <p>vs</p>
                        </div>
                    {% endif %}
                    <div class="gridview-square competitor-square">
                        <div class="gridview-title">
                            <img class="flag-image" src="{{ version.get_flag }}" alt="Flag">
                            <a href="{% url 'main:versionDetail' version.id %}">{{ version }}</a>
                        </div>
                        <div class="gridview-image-container">
                            <img class="fit-image" src="

                                    {% if version.image %}{{ version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="gridview-row">
                    {% endif %}
                {% endfor %}
                </div>
        {% elif fight.competitors.all|length > 2 and fight.fight_version_set.last.tag_team > 0 %}
            {% for team in fight.teams %}
                <div class="gridview-row">
                    {% for version in team %}
                        {% if forloop.counter == 2 and forloop.last %}
                            <div class="competitor-and">
                                <p>&</p>
                            </div>
                        {% endif %}
                        <div class="gridview-square">
                            <div class="gridview-title">
                                <img class="flag-image" src="{{ version.get_flag }}" alt="Flag">
                                <a href="{% url 'main:versionDetail' version.id %}">{{ version }}</a>
                            </div>
                            <div class="gridview-image-container">
                                <img class="fit-image" src="

                                        {% if version.image %}{{ version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                     alt="Robot Image">
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div>
                            <div class="gridview-row">
                        {% endif %}
                    {% endfor %}
                    </div>
                {% if not forloop.last %}
                    <div class="team-vs">vs</div>
                {% endif %}
            {% endfor %}

        {% else %}
            This fight appears to have no competitors
        {% endif %}

        <div class="results">
            <p>
                {% if fight.winners|length > 0 %}
                    {% for robot in  fight.winners %}
                        {{ robot }} {% if not forloop.last %} & {% endif %}
                    {% endfor %}
                    {% if fight.winners|length == 1 %}wins{% else %}win{% endif %} by
                {% endif %}
                {{ fight.get_method_display }}
            </p>
        </div>


        <div class="fight-media">
            {%include "snippets/fight_media.html" with fight=fight %}
        </div>

    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}