{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/index_view.css' %}"/>
{% endblock %}
{% block content %}


<div class="main-content">
    <section class="search-params">
        <form class="search-form" method="get" action="{% url 'main:franchiseIndex' %}">
            <div class="search-box-container">
                <input class="search-box" name="name" type="text" value="{{ name }}"/>
                <input class="search-button material-symbols-outlined" type="submit" value="Search"/>
            </div>
        </form>
    </section>

    {% for franchise in fran_list %}
    <div class="hrz-index-result">
        <span class="hrz-index-image">
            <img class="fit-image"
                 src="{{franchise.get_logo_url}}"
                 alt="{{franchise}} Logo">
        </span>
        <div class="hrz-index-content">
            <span class="hrz-index-title">
                <a href="{% url 'main:franchiseDetail' franchise.slug %}">{{ franchise.name }}</a>
            </span>
            <span class="hrz-index-details">
                <span>{{ franchise.website|urlize }}</span>
            </span>
            <span class="hrz-index-description">
                {{ franchise.description|truncatechars:650 }}
            </span>
            </div>
        </div>
    {% endfor %}
    {% if pages > 1 %}
        {% url "main:franchiseIndex" as this %}
        {%include "snippets/page_flipper.html" with link=this %}
    {% endif %}
</div>
{% endblock %}