{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Robot Combat Archive Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{% static 'style/gridview.css' %}" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
{% endblock %}
{% block content %}
    <div class="main-content">
        <h1>The Robot Combat Archive</h1>
        <div>
           <p>
               Welcome to the robot combat archive! A site with the goal of centralising information about big-box robot combat globally with a ranking system thrown in for fun!<br>
               The site covers information from big TV events such as <a href="franchise/classic-robot-wars">Robot Wars</a> and <a href="franchise/battlebots">BattleBots,</a> to lesser known live events such as <a href="franchise/roaming-robots">Extreme Robots</a> and <a href="franchise/robogames">Robogames</a> down to the obscure like <a href="event/robocide-showdown-in-o-town">Robocide</a> or <a href="event/guerra-de-robos">Guerra de Robôs.</a><br>
               Did you know that <a href="/fight/823">Chaos 2 has beaten Razer</a>, or that <a href="/contest/22">Vlad the Impaler fought in Japan?</a> Well with all the information in one place It's much easier to view a robot's whole history and find trivia like this. The archive is currently complete up to 2003.<br>
               <br>
               What this site is:<br>
               An overview of a robot's fight history and design changes over time.
               <br>
               What this site is not:<br>
               An in-depth break-down of every detail of every robot and fight. For more detail you can often check the excellent <a href="https://robotwars.fandom.com/">Robot Wars</a> or <a href="https://battlebots.fandom.com/">BattleBots</a> wikis.<br>
               A definitive answer to the greatest robot of all time or who would beat who. The ranking system has flaws and as an example modern robots are always likely to beat older ones.
               Where you can find the latest episode of BattleBots etc. All videos on the site are uploads from event organisers or competitors.
           </p>
        </div>

        <div>
            <div class="gridview-container">

                <a href="{% url 'main:robotIndex'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Robots</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{{example_robot.get_image}}" alt="Example Robot: {{example_robot}}">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:eventIndex'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Events</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{{example_event.get_logo_url}}" alt="Example Event Logo from &quot{{example_event}}&quot">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:leaderboard'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Leaderboard</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{%static 'awards/trophy_gold.png' %}" alt="Gold Trophy">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:randomRobot'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Random Robot</div>
                    <div class="gridview-image-container">
                        <p class="text-in-gridview">?</p>
                    </div>
                </div>
                </a>

            </div>


            <div class="gridview-container">
                <a href="{% url 'main:credits'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Credits</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">favorite</span>
                    </div>
                </div>
                </a>
                <div class="gridview-square">
                    <div class="gridview-title">FAQ Soon</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">hourglass</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
