{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>Robot Combat Archive Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="{% static 'style/gridview.css' %}" />
    <link rel="stylesheet" href="{% static 'style/index.css' %}" />
{% endblock %}
{% block content %}
    <div class="main-content">
        <h1>The Robot Combat Archive</h1>
        <div>
           <p> {% lorem %}</p>
        </div>

        <div>
            <div class="gridview-row">

                <a href="{% url 'main:robotIndex'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Robots</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{{example_robot.get_image}}" alt="Example Robot: {{example_robot}}">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:eventIndex'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Events</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{{example_event.get_logo_url}}" alt="Example Event Logo from &quot{{example_event}}&quot">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:leaderboard'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Leaderboard</div>
                    <div class="gridview-image-container">
                        <img class="fit-image" src="{%static 'awards/trophy_gold.png' %}" alt="Gold Trophy">
                    </div>
                </div>
                </a>

                <a href="{% url 'main:randomRobot'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Random Robot</div>
                    <div class="gridview-image-container">
                        <p class="text-in-gridview">?</p>
                    </div>
                </div>
                </a>

            </div>

            <div class="gridview-row">
                <a href="{% url 'main:leaderboard'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Ranking System</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">query_stats</span>
                    </div>
                </div>
                </a>

                <a href="{% url 'main:weaponTypes'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Weapon Types</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">destruction</span>
                    </div>
                </div>
                </a>

                <a href="{% url 'main:weightClasses'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Weight Classes</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">scale</span>
                    </div>
                </div>
                </a>

                <a href="{% url 'main:randomRobot'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Future Ambitions</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">hourglass</span>
                    </div>
                </div>
                </a>

                <a href="{% url 'main:credits'%}">
                <div class="gridview-square">
                    <div class="gridview-title">Credits</div>
                    <div class="gridview-image-container">
                        <span class="material-symbols-outlined text-in-gridview">favorite</span>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
