{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block meta %}
    <title>Edit team - Roboteer's Tavern</title>
{% endblock %}
{% block content %}
    <div class="main-content">
        {% if team_id %}
            <form method="post" enctype="multipart/form-data" action="{% url 'main:editTeam' team_id %}">
        {% else %}
            <form method="post" enctype="multipart/form-data" action="{% url 'main:newTeam' %}">
        {% endif %}
        {% csrf_token %}
        <fieldset>
            <legend><h1>Edit Team</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </fieldset>
        </form>
    </div>
{% endblock %}
