{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-content">
        {% if fran %}
            <form method="post" action="{% url 'main:newEvent' fran.id %}">
                {% csrf_token %}
                <fieldset>
                    <legend><h1>Create Event</h1></legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {{ form | crispy }}
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
        {% else %}
            Something has gone wrong.
        {% endif %}
    </div>
{% endblock %}
