{% extends "base.html" %}
{% load bonus_filters %}
{% load static %}
{% block meta %}
    <title>{{ robot.name }} - Roboteer's Tavern</title>
    <link rel="stylesheet" href="{% static "style/robot_detail.css" %}">
    <script src="{% static "scripts/robot_detail.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="main-content">
    {% if robot %}
        <h1>{{ robot.name }}</h1>
        {% if not robot.opt_out %}
            <h2>Rank: {{ robot.ranking|floatformat:2 }}</h2>
            <h2>Win/Loss: {{ robot.wins }}/{{ robot.losses }}</h2>
        {% endif %}
        <p>{{ robot.description }}</p>

            <div>
                <div class="version tabs">
                    {% for v in robot.version_set.all %}
                        <button class="tab-button{% if version_id == v.id%} active{% elif version_id == -1 and forloop.last %} active{% endif %}"
                                id="but-{{ v.id }}" onclick="viewRobot({{ v.id }})">{{ v.get_full_name }}</button>
                    {% endfor %}
                </div>
            {% for v in robot.version_set.all %}
                <div class="version-block" id="ver-{{ v.id }}" {% if version_id == v.id%}style="display:block"{% elif version_id == -1 and forloop.last %}style="display:block"{% endif %}>
                    <div class="version-header">
                        <img class="flag-image" src="{{ v.get_flag }}" alt="Flag">{{ v }}
                    </div>

                    <div class="version-content">
                        <div class="version-image">
                            <img class="fit-image" src= "{% if v.image %} {{ v.image.url }} {% else %} {% static "unknown.png" %} {% endif %}" alt="Version Image">
                        </div>
                        <div class="version-text">
                            <div class="version-mini-head">
                                <span>Weapon: {{ v.weapon_type }}</span>
                                <span>Weight Class: {{ v.weight_class }}</span>
                                <span>Time Competing: {{ v.first_fought|date:"F Y" }}{% if v.first_fought != v.last_fought %} - {{ v.last_fought|date:"F Y" }}{% endif %}</span>
                                <span>Team : <a href="{% url "main:teamDetail" v.team.id %}">{{ v.team }}</a></span>
                            </div>
                            <div class="version-description">
                                <p>{{ v.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {{ robot.description }}

        {% if awards|length > 0 %}
            <h2>{{ robot }} has won {{ awards|length }} {% if awards|length == 1 %}award. {% else %}awards.{% endif %}</h2>
            <table>
            <thead>
            <tr>
            <th></th>
            <th>Award Name</th>
            <th>Event</th>
            </tr>
            </thead>
            {% for award in awards %}
                <tr>
                <td><img class="award-icon" src="{{ award.get_icon }}" alt="award icon"></td>
                <td>{{ award }}</td>
                <td>{{ award.contest.event }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}

        {% if fights|length > 0 %}
             <h2>{{ robot }} has fought {{ fights|length }} {% if fights|length == 1 %}fight. {% else %}fights.{% endif %}</h2>
            <table>
            <thead>
            <th>Event</th>
            <th>Type</th>
            <th>Opponents</th>
            <th>Result</th>
            <th>View More</th>
            </thead>
            {% for fight in fights %}
                <tr>
                {% with fights|fights_event_number:fight as num_fights %}
                {% if num_fights != -1 %}
                    <td rowspan="{{ num_fights }}">
                        <a href="{% url "main:eventDetail" fight.contest.event.id %}">{{ fight.contest.event }}</a>
                    </td>
                {% endif %}
                {% endwith %}
                <td>{{ fight.get_fight_type_display }}</td>
                <td>{{ fight|fight_opponents:robot }}</td>
                <td>{{ fight|fight_result:robot }}</td>
                <td>
                {% if fight.has_video %}
                    <a href="{% url "main:fightDetail" fight.id %}">Video</a>
                {% else %}
                    <a href="{% url "main:fightDetail" fight.id %}">Details</a>
                {% endif %}
                </td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}

    {% else %}
        Something appears to have gone wrong
    {% endif %}
    </div>
{% endblock %}
