{% extends "base.html" %}
{% load static %}
{%load bonus_filters%}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/robot_index.css' %}" />
    <link rel="stylesheet" href="{% static 'style/index_view.css' %}"/>
    <script src="{% static 'scripts/showhide.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="main-content">
    <section class="search-params">
        <form class="search-form" method="get" action="{% url 'main:robotIndex' %}">
            <div class="search-box-container">
                <input class="search-box" name="name" type="text" value="{{ name }}"/>
                <input class="search-button material-symbols-outlined" type="submit" value="Search"/>
                <div id="more-options-dropdown" class="material-symbols-outlined" onclick="showHide('additional-options','more-options-dropdown')">Settings</div>
            </div>
            <ul id="additional-options" class="additional-options" style="display:{%if not chosen_country and not chosen_weight and not weapon %}none{%else%}block{%endif%}">
            <li>
                <label> Country:</label>
                <select name="country">
                    {% for country in countries %}
                        <option value="{{ country|first }}"
                                {% if chosen_country == country|first %}selected{% endif %}>{{ country|last }}</option>
                    {% endfor %}
                </select>
            </li>
            <!--<label> Include Territories:
                <input name="regions" type="checkbox" checked>
            </label>-->
            <li>
                <label> Weight Class: </label>
                <select name="weight">
                    {% for wc in weights %}
                        <option value="{{ wc|first }}"
                                {% if chosen_weight == wc|first %}selected{% endif %}>{{ wc|last }}</option>
                    {% endfor %}
                </select>
            </li>
            {% comment %}<input name="has_awards" type="checkbox" {% if has_awards %}checked{% endif %}>{% endcomment %}
            <li>
                <label>Weapon Type:</label>
                <input name="weapon" type="text" value="{{ weapon }}">
            </li>
            </ul>
        </form>
    </section>

        {% for robot in robot_list %}
            <div class="hrz-index-result">
                <span class="hrz-index-image">
                    <img class="fit-image" loading="lazy"
                         src="{{robot.get_image}}"
                         alt="{{robot}}">
                </span>
                <div class="hrz-index-content">
                    <span class="hrz-index-title">
                    <a href="{% url 'main:robotDetail' robot.slug %}">{{robot|generate_title}}</a>
                    </span>
                    <span class="hrz-index-details">
                        {% if not robot.opt_out %}<span>Rank: {{ robot.ranking|floatformat:0 }}</span>{% endif %}
                        <span>Weight Class: {{ robot.last_version.weight_class.weight_string }}</span>
                        {% if robot.awards|length > 0 %}<span> Awards: {{ robot.awards|length }}</span>{% endif %}
                        {% if robot.last_fought %}
                            <span>Competed:
                                {% if robot.first_fought|date:"F Y" == robot.last_fought|date:"F Y" %}
                                    {{ robot.first_fought|date:"F Y" }}
                                {% elif robot.first_fought|date:"Y" == robot.last_fought|date:"Y" %}
                                    {{ robot.first_fought|date:"F" }} - {{ robot.last_fought|date:"F Y" }}
                                {%else%}
                                    {{ robot.first_fought|date:"F Y" }} - {{ robot.last_fought|date:"F Y" }}
                            {% endif %}</span>
                        {% endif %}
                    </span>
                    <span class="hrz-index-description">
                        {% if robot.description %}
                            {{ robot.description|truncatechars:650 }}
                        {% else %}
                            {{ robot.last_version.description }}
                        {% endif %}
                    </span>

                </div>
            </div>
        {% endfor %}
        {% if pages > 1 %}
            {% url "main:robotIndex" as this %}
            {%include "snippets/page-flipper.html" with link=this %}
        {% endif %}
    </div>
{% endblock %}