{% extends "base.html" %}
{% load bonus_filters %}
{% load static %}

{% block meta %}
    <title>Leaderboard - Roboteer's Tavern</title>
	<link rel="stylesheet" href="{% static 'style/leaderboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/tooltip.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="{%static 'scripts/tooltip.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="search-params">
        <form method="get" action="{% url 'main:leaderboard' %}">
            <label>Weight Class:
                <select name="weight">
                    {% for wc in weights %}
                        <option value="{{ wc|first }}"
                                {% if chosen_weight == wc|first %}selected{% endif %}>{{ wc|last }}</option>
                    {% endfor %}
                </select>
            </label>
			<label>Year:
                <select name="year">
                    {% for year in years %}
                        <option value="{{ year }}"
                                {% if chosen_year == year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </label>
            <br>
            <input type="submit" value="Go">
        </form>
    </section>
    <div class="main-content">
    {%if chosen_year < 1998 %}<h3 class="header-warning">Weight classes prior to 1997 do not line up with modern ones, expect weird results</h3>{%endif%}
	{% if robot_list|length == 0%}
	No data to display
	{%else%}
	<div class="gridview-row">
		{% for entry in top_three %}
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="{% if forloop.counter == 1 %}{% static 'awards/trophy_gold.png' %}{% elif forloop.counter == 2 %}{% static 'awards/trophy_silver.png' %}{%else%}{% static 'awards/trophy_bronze.png' %}{%endif%}" alt="Trophy">
                    <a href="{% url 'main:versionDetail' entry.version.id %}">{{ entry.version }}</a>{% include "snippets/leaderboard_difference_icon.html" with lb=entry first_year=first_year %}
                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="{{ entry.version.get_flag }}" alt="Flag">
                    <p>{{ entry.ranking|floatformat:2 }}</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src="{% if entry.version.image %} {{ entry.version.image.url }} {% else %} {% static 'unknown.png' %}  {% endif %}" alt="Robot Image">
                </div>
            </div>
		{% endfor %}
    </div>
	{% if robot_list|length > 3%}
	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>Score</th>
                <th></th>
                <th>Robot</th>
				{%if is_this_year%}
                <th>Wins</th>
                <th>Losses</th>
                <th>Awards</th>
				{%endif%}
            </tr>
            </thead>
            <tbody>
            {% for lb in robot_list %}
                <tr id="row-{{ lb.robot.slug }}" {% if forloop.counter|divisibleby:2 %}
                    style="background-color: #eeeeee"{% endif %}>
					{% if forloop.counter > 3 %}
                    <td style="text-align: center">{{ forloop.counter }}</td>
                    <td style="text-align: center">{{ lb.ranking|floatformat:1 }}</td>
                    <td style="text-align: center"><img class="flag-image" src="{%if lb.version.loaned%} {{ lb.robot.get_flag }} {% else %} {{ lb.version.get_flag }} {%endif%}" alt="Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="{% url 'main:versionDetail' lb.version.id %}">
                            {%if lb.version.loaned or lb.version.team == lb.robot.first_version.team %} {{lb.robot}}
                            {%else%} {{ lb.version }}
                            {%endif%}
                        </a>
                        {% include "snippets/leaderboard_difference_icon.html" with lb=lb first_year=first_year %}
                        </span>
                    </td>
					{%if is_this_year%}
                    <td style="text-align: center">{{ lb.robot.wins }}</td>
                    <td style="text-align: center">{{ lb.robot.losses }}</td>
                    <td style="text-align: center">{{ lb.robot.awards|length }}</td>
					{%endif%}
					{%endif%}
                </tr>
            {% endfor %}
            </tbody>
        </table>
	</div>
        {%if eliminations.count > 0 %}
        <h2>The following robots with leaderboard entries in {{robot_list.first.year|add:"-1"}} no longer have one in {{robot_list.first.year}}:</h2>
        <div class="lb-table-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Robot</th>
                </tr>
            </thead>
            {% for lb in eliminations %}
                <tr id="row-{{ lb.robot.slug }}" {% if forloop.counter|divisibleby:2 %}
                    style="background-color: #eeeeee"{% endif %}>
                    <td style="text-align: center"><img class="flag-image" src="{%if lb.version.loaned%} {{ lb.robot.get_flag }} {% else %} {{ lb.version.get_flag }} {%endif%}" alt="Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="{% url 'main:versionDetail' lb.version.id %}">
                            {%if lb.version.loaned or lb.version.team == lb.robot.first_version.team %} {{lb.robot}}
                            {%else%} {{ lb.version }}
                            {%endif%}
                        </a>
                        {% include "snippets/leaderboard_difference_icon.html" with lb=lb first_year=first_year %}
                        </span>
                    </td>
                </tr>
            {%endfor%}
        </table>
            </div>
        {%endif%}
	{%endif%}
	{%endif%}
    </div>
{% endblock %}