{% extends "base.html" %}
{% load bonus_filters %}
{% load static %}

{% block meta %}
    <title>Robots - Roboteer's Tavern</title>
{% endblock %}

{% block content %}
    <section class="search-params">
        <form method="get" action="{% url "main:robotIndex" %}">
            <label> a
                <input name="name" type="text" value={{ name }}>
            </label>
        {{ results.GET }}
            <select name="country">
                {% for country in countries %}
                    <option value="{{ country|first }}" {% if chosen_country == country|first %}selected{% endif %}>{{ country|last }}</option>
                {% endfor %}
            </select>
            <input name="regions" type="checkbox" checked>
            <select name="weight">
                {% for wc in weights %}
                    <option value="{{ wc|first }}" {% if chosen_weight == wc|first %}selected{% endif %}>{{ wc|last }}</option>
                {% endfor %}
            </select>
            <input name="has_awards" type="checkbox" {% if has_awards %}checked{% endif %}>
            <input name="weapon" type="text" value={{ weapon }}>
            <br>
            <input type="submit" value="Search">
        </form>
    </section>
    <div class="main-content">
        {% for robot in robot_list %}
            <div class="hrz-index-result">
                <span class="hrz-index-image">
                    <img class="fit-image"
                         src="{% if robot.version_set.last.image %} {{ robot.version_set.last.image.url }} {% else %} {% static "unknown.png" %}  {% endif %}"
                         alt="Robot Image">
                </span>
                <div class="hrz-index-content">
                    <span class="hrz-index-title">
                        <img class="flag-image" src="{{ robot.get_flag }}" alt="Flag">
                        <a href="{% url 'main:robotDetail' robot.id %}">{{ robot.name }}</a>
                    </span>
                    <span class="hrz-index-details">
                        {% if not robot.opt_out %}<span>Rank: {{ robot.ranking|floatformat:0 }}</span>{% endif %}
                        <span>Weight Class: {{ robot.version_set.last.weight_class.weight_string }}</span>
                        {% if robot.awards|length > 0 %}<span> Awards: {{ robot.awards|length }}</span>{% endif %}
                        {% if robot.last_fought %}
                            <span>Last Competed: {{ robot.last_fought|date:"M Y" }}</span>{% endif %}
                    </span>
                    <span class="hrz-index-description">
                        {% if robot.description %}
                            {{ robot.description|truncatechars:650 }}
                        {% else %}
                            {{ robot.version_set.last.description }}
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
        {% if pages > 1 %}
            <div class="page-nav">
            {% url "main:robotIndex" as this %}
            <ul class="page-select">
                <li>{% if page > 1 %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ 1 }}">1</a>
                {% endif %}</li>

                <li>{% if page > 5 %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ page |add:"-5" }}">{{ page|add:"-5" }}</a>
                {% endif %}</li>

                <li>{% if page > 1 %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ page |add:"-1" }}">{{ page|add:"-1" }}</a>
                {% endif %}</li>

                <li>{{ page }}</li>

                <li>{% if page < pages %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ page |add:"1" }}">{{ page |add:"1" }}</a>
                {% endif %}</li>

                <li>{% if page < pages|add:"-5" %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ page |add:"5" }}">{{ page |add:"5" }}</a>
                {% endif %}</li>

                <li>{% if page < pages %}
                    <a href="{{ this }}{{ request.GET.urlencode|page_url }}page={{ pages }}">{{ pages }}</a>
                {% endif %}</li>
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock %}