{% extends "base.html" %}
{% load static %}
{%load bonus_filters%}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/team_detail.css' %}">
{% endblock %}
{% block content %}
    <div class="main-content">
        <h1>Results for: "{{ search_term }}"</h1>
        <h2>{% if robot_len > 0 %}Showing {{ robots|length }} robots {% if robot_len > 10 %}
            <a href="{% url 'main:robotIndex' %}?name={{ search_term }}">view {{ robot_len|add:-10 }} more</a>
        {% endif %}{% endif %}</h2>
        {% for robot in robots %}
            <div class="hrz-index-result">
                <span class="hrz-index-image">
                    <img class="fit-image"
                         src="{{robot.get_image}}"
                         alt="{{robot}}">
                </span>
                <div class="hrz-index-content">
                    <span class="hrz-index-title">
                        <a href="{% url 'main:robotDetail' robot.slug %}">{{robot|generate_title}}</a>
                    </span>
                    <span class="hrz-index-details">
                        {% if not robot.opt_out %}<span>Rank: {{ robot.ranking|floatformat:0 }}</span>{% endif %}
                        <span>Weight Class: {{ robot.last_version.weight_class.weight_string }}</span>
                        {% if robot.awards|length > 0 %}<span> Awards: {{ robot.awards|length }}</span>{% endif %}
                        {% if robot.last_fought %}
                            <span>Time Competing:
                                        {% if robot.first_fought|date:"F Y" == robot.last_fought|date:"F Y" %}
                                            {{ robot.first_fought|date:"F Y" }}
                                        {% elif robot.first_fought|date:"Y" == robot.last_fought|date:"Y" %}
                                            {{ robot.first_fought|date:"F" }} - {{ robot.last_fought|date:"F Y" }}
                                        {%else%}
                                            {{ robot.first_fought|date:"F Y" }} - {{ robot.last_fought|date:"F Y" }}
                                        {% endif %}</span>
                        {%endif%}
                    </span>
                    <span class="hrz-index-description">
                        {% if robot.description %}
                            {{ robot.description|truncatechars:650 }}
                        {% else %}
                            {{ robot.last_version.description }}
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        <h2>{% if event_len > 0 %}Showing {{ events|length }} events {% if event_len > 10 %}
            <a href="{% url 'main:eventIndex' %}?name={{ search_term }}">view {{ event_len|add:-10 }} more</a>
        {% endif %}{% endif %}</h2>
        {% for event in events %}
            <div class="hrz-index-result">
        <span class="hrz-index-image">
        <img class="fit-image"
             src="{{event.get_logo_url}}"
             alt="{{event.name}} Logo">
        </span>
                <div class="hrz-index-content">
                <span class="hrz-index-title">
                <img class="flag-image" src="{{ event.get_flag }}" alt="{{event.country}} Flag">
                <a href="{% url 'main:eventDetail' event.slug %}">{{ event.name }}</a>
            </span>
                    <span class="hrz-index-details">
                    <span>{{ event.start_date|date:"jS F Y" }}</span>
                </span>
                    <span class="hrz-index-description">
                    {{ event.description|truncatechars:650 }}
                </span>
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        <h2>{% if team_len > 0 %}Showing {{ teams|length }} teams {% if event_len > 10 %}
            <a href="{% url 'main:teamIndex' %}?name={{ search_term }}">view {{ team_len|add:-10 }} more</a>
        {% endif %}{% endif %}</h2>
        {% for team in teams %}
            <div class="hrz-index-result">
        <span class="hrz-index-image">
        <img class="fit-image"
             src="{{team.get_logo_url}}"
             alt="{{team.name}} Logo">
        </span>
                <div class="hrz-index-content">
                <span class="hrz-index-title">
                <img class="flag-image" src="{{ team.get_flag }}" alt="Flag">
                <a href="{% url 'main:teamDetail' team.slug %}">{{ team.name }} {%if team.display_latin_name%}<span class="alphanum">({{team.latin_name}})</span>{%endif%}</a>
            </span>
                    <span class="hrz-index-details">
                    <span>{{ team.web_link_set.first.link|urlize }}</span>
                </span>
                </div>
            </div>
        {% endfor %}
        <br>
        <br>
        <h2>{% if fran_len > 0 %}Showing {{ franchises|length }} franchises {% if fran_len > 10 %}
            <a href="{% url 'main:franchiseIndex' %}?name={{ search_term }}">view {{ fran_len|add:-10 }} more</a>
        {% endif %}{% endif %}</h2>
        {% for franchise in franchises %}
            <div class="hrz-index-result">
        <span class="hrz-index-image">
        <img class="fit-image"
             src="{{franchise.get_logo_url}}"
             alt="{{franchise.name}} Logo">
        </span>
                <div class="hrz-index-content">
                <span class="hrz-index-title">
                <a href="{% url 'main:franchiseDetail' franchise.slug %}">{{ franchise.name }}</a>
            </span>
                    <span class="hrz-index-details">
                    <span>{{ franchise.web_link_set.firs.link|urlize }}</span>
                </span>
                    <span class="hrz-index-description">
                    {{ franchise.description|truncatechars:650 }}
                </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}