{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/index_view.css' %}"/>
    <script src="{% static 'scripts/showhide.js' %}"></script>
{% endblock %}
{% block content %}
<div class="main-content">
<section class="search-params">
    <form class="search-form" method="get" action="{% url 'main:teamIndex' %}">
         <div class="search-box-container">
            <input class="search-box" name="name" type="text" value="{{ name }}"/>
            <input class="search-button material-symbols-outlined" type="submit" value="Search"/>
            <div id="more-options-dropdown" class="material-symbols-outlined" onclick="showHide('additional-options','more-options-dropdown')">Settings</div>
        </div>
         <ul id="additional-options" class="additional-options" style="display:{%if not chosen_country%}none{%else%}block{%endif%}">
        <li>
            <label> Country:</label>
            <select name="country">
                {% for country in countries %}
                    <option value="{{ country|first }}"
                            {% if chosen_country == country|first %}selected{% endif %}>{{ country|last }}</option>
                {% endfor %}
            </select>
        </li>
             {%comment%}
        <li>
            <label>Include Territories:</label>
            <input name="regions" type="checkbox" checked>
        </li>
             {%endcomment%}
         </ul>
    </form>
</section>

        {% for team in team_list %}
            <div class="hrz-index-result">
        <span class="hrz-index-image">
        <img class="fit-image"
             src="{{team.get_logo_url}}"
             alt="{{team}} Logo">
        </span>
                <div class="hrz-index-content">
                <span class="hrz-index-title">
                <img class="flag-image" loading="lazy" src="{{ team.get_flag }}" alt="{{team.country}} Flag">
                <a href="{% url 'main:teamDetail' team.slug %}">{{ team.name }}</a>
            </span>
                    <span class="hrz-index-details">
                    <span>{{ team.website|urlize }}</span>
                </span>
                </div>
            </div>
        {% endfor %}
        {% if pages > 1 %}
            {% url "main:teamIndex" as link %}
            {%include "snippets/page-flipper.html" with link=link %}
        {% endif %}
    </div>
{% endblock %}