{% extends "base.html" %}
{% load static %}
{% block meta %}
    <title>{{ team }} - Roboteer's Tavern</title>
    <link rel="stylesheet" href="{% static 'style/team_detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/web_links.css' %}">
{% endblock %}
{% block content %}
    {% if team %}
        <div class="main-content">
            <div class="team-heading">
                <img class="flag-image" src="{{ team.get_flag }}" alt="Flag">
                <h1>{{ team }}</h1>
                {% if can_change %}
                    <a class="editor-link" href="{% url 'main:editTeam' team.id %}">Edit Team</a>
                    <a class="delete-link" href="{% url 'main:delete_noreturn' 'team' team.id %}">Delete Team</a>
                {% endif %}
            </div>
            {% if can_change %}
                <a class="delete-link" href="{% url 'main:delete_noreturn' 'person_team' leave_id %}">Leave Team</a>
                <h2>Team ID: {{ team.id }}</h2>
            {% endif %}
            {% if team.logo %}
                <div class="team-logo-image">
                    <img class="fit-image" src="{{ team.logo.url }}" alt="logo">
                </div>
            {% endif %}
        {% if team.web_link_set.all|length > 0 %}
            <br>
        <div class="web-links">
        {% for web in team.web_link_set.all %}
            <span>
            <a href="{{ web.link }}">
                <img  src="{{ web.get_logo }}" alt="{{ web }}">
                <span class="spacer"></span>
                {% if web.type == "WW" %}{{ web.link }}{% else %}{{ web.get_type_display }}{% endif %}
            </a>
            </span>
        {% endfor %}
        </div>
        {% endif %}

            {% if team.members.all|length > 0 %}
                <h2>Members</h2>
                <a class="editor-link" style="display: inline-block" href="{% url 'main:addMember' 'team' team.id %}">Add
                    Member</a>
                <p>
                    {% for member in team.members.all %}
                        <span>{{ member }}</span>
                    {% endfor %}
                </p>

            {% endif %}
            <h2>Robots:</h2>
            {% if can_change %}
                <a class="editor-link" href="{% url 'main:newRobot'%}?team=team.id">New Robot</a>
            {% endif %}
            <div class="gridview-row">
                {% for robot in team.robots %}
                    <div class="gridview-square">
                        <div class="gridview-title">
                            <a href="{% url 'main:robotDetail' robot.slug %}">{{ robot }}</a>
                        </div>
                        <div class="gridview-image-container">
                            <img class="fit-image"
                                 src="{% if robot.version_set.last.image %} {{ robot.version_set.last.image.url }} {% else %} {% static "unknown.png" %}  {% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:5 and not forloop.last %}
                        </div>
                        <div class="gridview-row">
                    {% endif %}
                {% endfor %}
                </div>
            {% if member %}
                <a href="{% url 'main:newRobot' team.id %} ">New Robot</a>
            {% endif %}
        </div>
    {% else %}
        Something has gone wrong.
    {% endif %}
{% endblock %}