{% extends "base.html" %}
{% load bonus_filters %}
{% load static %}
{% block meta %}
    <title>{{ event }} - Roboteer's Tavern</title>
    <link rel="stylesheet" href="{% static 'style/robot_detail.css' %}">
	<link rel="stylesheet" href="{% static 'style/event_detail.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'scripts/edit_event.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="main-content">
		<a href="{%url 'main:edtHome'%}">Home</a>
        {% if event %}
            <div class="version-block" style="display:block">
                <div class="version-header">
                    <img class="flag-image" src="{{ event.get_flag }}" alt="Flag">
                    <p>{%if event.missing_brackets%}⚠️ {%endif%}{{ event }}</p>
					<a href="{% url 'main:editEvent' event.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Event"></a>
                </div>

                <div class="version-content">
                    <div class="version-image">
                        <img class="fit-image"
                             src="{{event.get_logo_url}}"
                             alt="Event Image">
                    </div>
                    <div class="version-text">
                        <div class="version-mini-head">
                            <span>Franchise : <a
                                    href="{% url 'main:franchiseDetail' event.franchise.slug %}">{{ event.franchise }}</a></span>
                            <span>Start Date: {{ event.start_date|date:"d F Y" }}</span>
                            <span>End Date: {{ event.end_date|date:"d F Y" }}</span>
                        </div>
                        <div class="version-description">
                            <p>{{ event.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Contests</h2>
            <br><a class="editor-link" href="{% url 'main:newContest' event.id %}">New Contest</a><br>
            {% if event.contest_set.all|length !=  0 %}
                <div class="contest-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Contest Name</th>
                            <th>Weight Class</th>
                            <th>Fight Type</th>
                        </tr>
                        </thead>
                        {% for contest in event.contest_set.all %}
                            <tr>
                                <td><a href="{% url 'main:edtContest' contest.id %}">{{ contest }}</a></td>
                                <td>{{ contest.weight_class.weight_string }}</td>
                                <td>{{ contest.get_fight_type_display }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                {% if can_change %}
                    <h2 id="no-contest-warn">Warning: This event has no contests, please add one.</h2>
                {% endif %}
            {% endif %}

               <p>There
                {% if event.award_set.all|length == 1 %}
                    was <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} award</a>
                {% else %}
                    were <a href="{% url 'main:awardIndex' event.slug %}">{{ event.award_set.all|length }} awards</a>
                {% endif %}
                given out at this event</p>
            <a class="editor-link" href="{% url 'main:newAward' event.id %}">Add Award</a>
            {% if event.award_set.all|length > 0 %}
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Award Name</th>
                        <th>Robot</th>
                    </tr>
                    </thead>
                    {% for award in event.award_set.all %}
                        <tr>
                            <td><img class="award-icon" src="{{ award.get_icon }}" alt="award icon"></td>
                            <td>{{ award }}</td>
                            <td>{{ award.version }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
		<h2>Sources:</h2>
		<form method="post" style="display:block">
            {% csrf_token %}
		<table style="border:None">
		{% for source in event.source_set.all %}
                <tr>
                    <td style="border:None"><label for="src{{ forloop.counter0 }}">
                        <a href="{{ source.link }}"><img src="{%if source.archived %}{%static 'web_logos/WA.png'%}{%else%}https://icon.horse/icon/{{source.get_domain}}{%endif%}" alt="{{ source.name }}" width="25px" height="25px"></a>
                    </label></td>
					<td style="width: 300px; border:None">
                        <input type="text" id="src-name-{{ forloop.counter0 }}" name="src-name-{{ forloop.counter0 }}" value="{{ source.name }}" style="width: 100%">
                    </td>
                    <td style="width: 750px; border:None">
                        <input type="text" id="src-link-{{ forloop.counter0 }}" name="src-link-{{ forloop.counter0 }}" value="{{ source.link }}" style="width: 100%">
                    </td>
                <td style="border:None">
                    <a href="{% url 'main:delete_noreturn' 'source' source.id%}?redirect={% url 'main:edtEvent' event.id %}"><img class="inline-image" src="{% static 'bin.png' %}" alt="Delete Link"></a>
                </td>
                </tr>
            {% endfor %}
            <tr>
                <td style="border:None"><label for="new-source">
                    New:
                </label></td>
				<td style="width: 300px;border:None">
                    <input type="text" id="new-src-name" name="new-src-name" style="width: 100%">
                </td>
                <td style="width: 750px; border:None">
                    <input type="text" id="new-src-link" name="new-src-link" style="width: 100%">
                </td>
            </tr>
            </table>
            <button class="editor-link" name="save" value="save-source">Save</button>
            </form>
		<br>
        <div id="map-section" style="display:flex">
		    <div id="osm-map" location_name="{{ event.get_location.name }}" lat="{{ event.get_location.latitude }}" lng="{{ event.get_location.longitude }}"></div>
                <form method="post" id="map-form" style="display:flex;flex-direction:column">
                    {% csrf_token %}
                    <h3>Current Location: {{event.get_location}}</h3>
                    <div>
                    <select id="existing-locations" name="location-id">
                        <option value="-1"></option>
                        {%for location in locations%}
                            <option value="{{location.id}}" {%if location == event.location%}selected{%endif%}>{{location}}</option>
                        {%endfor%}
                    </select>
                    </div>
                    <br>
                    <div>
                    <div>Location Name: <input type="text" class="location-input" id="location-name" name="new-location-name" value="{{event.location.name}}"></div>
                    <div>Location Latitude: <input type="number" class="location-input" id="location-lat" name="new-location-lat" step="any" value="{{event.location.latitude}}"></div>
                    <div>Location Longitude: <input type="number" class="location-input" id="location-lng" name="new-location-lng" step="any" value="{{event.location.longitude}}"></div>
                    </div>
                    <button class="editor-link" name="save" value="save-location">Save</button>
                </form>
        </div>
		<script src="{% static 'scripts/open_street_map.js' %}"></script>
        {% else %}
            Something appears to have gone wrong
        {% endif %}
    </div>
{% endblock %}
