{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/fight_detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/edit_fight.css' %}">
    <link rel="stylesheet" href="{% static 'style/gridview.css' %}">
	<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}
{% block content %}
    {% if fight %}
        <div class="main-content">
        <h1> {{ fight }}</h1>
        <h2>{{ fight.get_fight_type_display }}, {{ fight.get_method_display }}</h2>
        <form method="post" style="flex-direction: column" enctype="multipart/form-data" action="{% url 'main:edtFightOverview' fight.id %}">
            {% csrf_token %}
            <fieldset>
                <legend><h1>Edit Fight</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ form|crispy }}
                <input type="submit" name="update" value="Change Details">
            </fieldset>
        <input class="editor-link" style="font-size: 18px; color:blue;" type="submit" name="save" value="Save Fight">
        </form>
        <div style="text-align: center">
        <a class="editor-link" href="{% url 'main:newFightVersion' fight.id %}">Add New Robot</a>
        </div>
            <div class="gridview-container">
                {% for fv in fight.fight_version_set.all %}
                    <div class="gridview-square" {% if has_winner %}style="background:{% if fv.won %}lightgreen{% else %}indianred{% endif %}{% endif %};" >
                        <div class="gridview-title">

                            <img class="flag-image" src="{{ fv.version.get_flag }}" alt="Flag">
                            <a href="{% url 'main:versionDetail' fv.version.id %}">{{ fv.version }}</a>
                            <a href="{% url 'main:editFightVersion' fight.id fv.id %}"><img class="inline-image" src="{% static 'edit.png' %}" alt="Edit Competitor"></a>
                            <a href="{% url 'main:delete_noreturn' 'fight_version' fv.id%}?redirect={% url 'main:edtFightOverview' fight.id %}"><img class="inline-image" src="{% static 'bin.png' %}" alt="Remove Competitor"></a>
                        </div>
                    {% if fv.tag_team != 0 %}
                        <div class="gridview-title team{{ fv.tag_team }}">Team {{ fv.tag_team }}</div>
                    <div class="gridview-image-container has-tag-team">
                    {% else %}
                    <div class="gridview-image-container">
                    {% endif %}
                            <img class="fit-image" src="
                                    {% if fv.version.image %}{{ fv.version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>
                {% endfor %}
                </div>

        <div class="fight-media">
            {%include "snippets/fight_media.html" with fight=fight %}
        </div>

    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}