{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block meta %}
    <title> {{ fight }} - Roboteer's Tavern </title>
    <link rel="stylesheet" href="{% static 'style/fight_detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/edit_fight.css' %}">
	<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
{% endblock %}
{% block content %}
    {% if fight %}
        <div class="main-content">
        <h1> {{ fight }}</h1>
        <h2>{{ fight.get_fight_type_display }}, {{ fight.get_method_display }}</h2>
        <form method="post" style="flex-direction: column" enctype="multipart/form-data" action="{% url 'main:edtFightOverview' fight.id %}">
            {% csrf_token %}
            <fieldset>
                <legend><h1>Edit Fight</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ form|crispy }}
                <input type="submit" name="update" value="Change Details">
            </fieldset>
        <input class="editor-link" style="font-size: 18px; color:blue;" type="submit" name="save" value="Save Fight">
        </form>
        <div style="text-align: center">
        <a class="editor-link" href="{% url 'main:newFightVersion' fight.id %}">Add New Robot</a>
        </div>
            <div class="gridview-row competitor-row">
                {% for fv in fight.fight_version_set.all %}
                    <div class="gridview-square competitor-square" {% if has_winner %}style="background:{% if fv.won %}lightgreen{% else %}indianred{% endif %}{% endif %};" >
                        <div class="gridview-title">

                            <img class="flag-image" src="{{ fv.version.get_flag }}" alt="Flag">
                            <a href="{% url 'main:versionDetail' fv.version.id %}">{{ fv.version }}</a>
                            <a href="{% url 'main:editFightVersion' fight.id fv.id %}"><img class="inline-image" src="{% static "edit.png" %}" alt="Edit Competitor"></a>
                            <a href="{% url 'main:delete_noreturn' "fight_version" fv.id%}?redirect={% url 'main:edtFightOverview' fight.id %}"><img class="inline-image" src="{% static "bin.png" %}" alt="Remove Competitor"></a>
                        </div>
                    {% if fv.tag_team != 0 %}
                        <div class="gridview-title team{{ fv.tag_team }}">Team {{ fv.tag_team }}</div>
                    <div class="gridview-image-container has-tag-team">
                    {% else %}
                    <div class="gridview-image-container">
                    {% endif %}
                            <img class="fit-image" src="
                                    {% if fv.version.image %}{{ fv.version.image.url }} {% else %}{% static "unknown.png" %}{% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="gridview-row">
                    {% endif %}
                {% endfor %}
                </div>

        <div class="fight-media">
            {% if fight.internal_media or fight.external_media %}
                {% if fight.media_type == "LI" %}
                    <img class="fight-image" src="{{ fight.internal_media.url }}" alt="This Image is Broken, please change it.">

                {% elif fight.media_type == "EI" %}
                    <img class="fight-image" src="{{ fight.external_media }}" alt="This Image is Broken, please change it.">

                 {% elif fight.media_type == "LV" %}
					<video id="my-video" class="video-js" controls preload="auto" width="800" height="450" data-setup="{}" >     
						<source src="{{ fight.internal_media.url }}" type="video/mp4" /> 
						<video src="{{ fight.internal_media.url }}" width="800" height="450" controls></video>
						<p class="vjs-no-js"> To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
					</video>
					<script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>

                {% elif fight.media_type == "FB" %}
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0"
                            nonce="DsgXG9yz"></script>
                    <div class="fb-video" data-href="{{ fight.external_media }}" data-width="800" data-height="450"
                         data-show-text="false">
                        <blockquote cite="{{ fight.external_media }}" class="fb-xfbml-parse-ignore">
                            <a href="{{ fight.external_media }}">Fight Video</a>
                        </blockquote>
                    </div>

                {% elif fight.media_type == "IF" %}
                    <iframe src="{{ fight.external_media }}" width="800px" height="480px" title="Fight Video"
                            allowfullscreen></iframe>

                {% elif fight.media_type == "IG" %}
                    <blockquote class="instagram-media" data-instgrm-permalink="{{ fight.external_media }}"
                                data-instgrm-version="14">
                        Fight video on Instagram
                    </blockquote>
                    <script async src="http://www.instagram.com/embed.js"></script>

                {% elif fight.media_type == "TW" %}
                    <blockquote style="width: 800px;height:450px" class="twitter-tweet"><a
                            href="{{ fight.external_media }}">Fight video on Twitter.</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                {% elif fight.media_type == "TT" %}
                    <blockquote class="tiktok-embed" cite="{{ fight.external_media }}"
                                data-video-id="{{ fight.get_tt_id }}">
                        <section></section> <!--This section tag is required, embed will fail without it. -->
                    </blockquote>
                    <script async src="https://www.tiktok.com/embed.js"></script>

                {% else %}
                    <p>We're unsure how to embed this media, here's a <a href="{{ fight.external_media }}">link.</a></p>
                {% endif %}
                {% else %}
                <p>This fight has no media.</p>
            {% endif %}

        </div>

    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}