{% extends "base.html" %}
{% load bonus_filters %}
{% load static %}

{% block meta %}
    <title>Editor Home - Robot Combat Archive</title>
{% endblock %}

{% block content %}
    {%block home_button%} <span class="home-icon"><a href="{%url 'main:index' %}?edt=stay"><img class="fit-image" src="{% static 'home_icon_google.svg'%}" alt="Home Icon"></a></span> {%endblock home_button%}
    <section class="search-params">
        <form class="search-form" method="get"
          action="{% url 'main:edtHome' %}">
             <label> Search Term:
                <input name="name" type="text" value="{{ name }}">
            </label>
            <br>
            <input type="submit" value="Search">
        </form>
    </section>
    <div class="main-content">
     <br><a class="editor-link" href="{% url 'main:edtNewEvent' %}">New Event</a><br>
        <table>
            <thead>
            <tr>
                <th>Logo</th>
                <th></th>
                <th>Event</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            </thead>
            <tbody>
            {% for event in event_list %}
                <tr id="row-{{ event.id }}" {% if forloop.counter|divisibleby:2 %}
                    style="background-color: #eeeeee"{% endif %}>
                    <td style="text-align: center; padding: 1px 0 0 1px;">
                        <img class="event logo" style="width: 4em; height:2.5em; margin:0"
                             src="{{event.get_logo_url}}" alt="{{ event.name }} logo"></td>
                    <td style="text-align: center"><img class="flag-image" src="{{ event.get_flag }}" alt="{{ event.country|upper }} Flag"></td>
                    <td><a href="{% url 'main:edtEvent' event.id %}">{%if event.missing_brackets%}⚠️ {%endif%}{{ event }}</a></td>
                    <td style="text-align: center">{{ event.start_date }}</td>
                    <td style="text-align: center">{{ event.end_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}