{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block meta %}
    <title> Roboteer's Tavern </title>
    <link rel="stylesheet" href="{% static 'style/fight_detail.css' %}">
    <link rel="stylesheet" href="{% static 'style/edit_fight.css' %}">
    <link rel="stylesheet" href="{% static 'style/gridview.css' %}" />
{% endblock %}
{% block content %}
    {% if robot %}
        <div class="main-content">
        <h1> {{ robot }}</h1>
        <div style="text-align: center">
        {% if obj_type == "fight" %}
            <a class="editor-link" href="{% url 'main:newVersion' robot.id %}">Add New Version</a>
        {% elif obj_type == "team" %}
            <a class="editor-link" href="{% url 'main:edtTeam' obj_id %}?add_robot={{ robot.id }}">Add All Versions</a>
        {% endif %}
        </div>
            <div class="gridview-container competitor-row">
                {% for version in robot.version_set.all %}
                    <div class="gridview-square competitor-square">
                        <div class="gridview-title">

                            <img class="flag-image" src="{{ version.get_flag }}" alt="Flag">
                            {% if obj_type == "fight" %}
                                <a href="{% url 'main:edtSignupVersion' obj_id version.id %}">{{ version }}</a>
                            {% elif obj_type == "team" %}
                                <a href="{% url 'main:edtTeam' obj_id %}?add_version={{version.id}}">{{ version }}</a>
                            {% endif %}
                        </div>
                    <div class="gridview-image-container">
                            <img class="fit-image" src="
                                    {% if version.image %}{{ version.image.url }} {% else %}{% static 'unknown.png' %}{% endif %}"
                                 alt="Robot Image">
                        </div>
                    </div>

                {% endfor %}
                </div>
    {% else %}
        something has gone wrong
    {% endif %}
</div>
{% endblock %}