<!DOCTYPE html>
<html lang="en-gb">
{% load static %}
<head>
    <meta charset="UTF-8">
    {%block seo%} {% include "snippets/meta_page_info.html" with title=title description=description thumbnail=thumbnail url=url%} {%endblock seo%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Robot Wars, BattleBots, Robogames, Robot Combat, Combots, Robots, Technology, Fighting Sports">

    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{%static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar" style="z-index:10">
    {% block navbar %}
        <div class="navtitle">
            {% block home_button %}
                <span class="home-icon"><a class="material-symbols-outlined" href="{%url 'main:index' %}">home</a></span>
            {% endblock home_button %}
        </div>
    <span class="mobile-hide" style="padding-left:5%;font-size:0.8em;">Data accurate up to 2004</span>
        <div class="navlinks">
            <ul>
                <li class="mobile-hide">
                    <a class="nav-index-link" href="{% url 'main:eventIndex' %}"> Events </a>
                </li>
                <li class="mobile-hide">
                    <a class="nav-index-link" href="{% url 'main:robotIndex' %}"> Robots </a>
                </li>
                <li>
                    <form method="get" action="{% url 'main:search' %}">
                        <label>
                            <input name="q" type="text">
                        </label>
                        <button class="material-symbols-outlined" type="submit">Search</button>
                    </form>
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <a class="nav-index-link" href="{% url 'logout' %}">Logout</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endblock %}
</nav>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
