<!DOCTYPE html>
<html lang="en-gb">
<head>
{%load static%}
<link rel="stylesheet" href="{%static 'base.css' %}">
<meta charset="UTF-8">
<title> Event Manager </title>
</head>
<body>
<div class="navbar">
	{%block navbar%}
	<div class="navtitle">
		<span>Roboteer's Tavern</span>
	</div>
	<div class="navlinks">
		<a href="{%url 'main:index'%}">Events</a>
		<a href="{%url 'main:robotIndex' %}"> Robots</a>
		<input type=text/>
		<button type=submit>Search</button>
		<a href="{%url 'login'%}">Login</a>
	</div>
	{%endblock%}
</div>
<div class="content">
	{%block content%}{%endblock%}
</div>
</body>
</html>
