    <h1>RCA Russian 70kg Leaderboard for 2015</h1>

        <div class="gridview-container mobile-show">
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4654">Доктор Шредер</a>

<span>
    <span id="lb-icon-9626" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9626" class="tooltip lb-positive">New for 2015</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1041.57</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/dr_perm.png " alt="Доктор Шредер">
                </div>
            </div>
        </div>
	<div class="gridview-container grid-width-3">

            <div class="gridview-square  mobile-hide">
				<div id="row-доктор-шредер" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4654">
                            Доктор Шредер

                                <span class="alphanum">(Dr. Shredder)</span>

                    </a>


<span>
    <span id="lb-icon-9626" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9626" class="tooltip lb-positive">New for 2015</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1041.57</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/dr_perm.png " alt="Доктор Шредер">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-анархист" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                    <a href="/version/4679">
                            Анархист

                                <span class="alphanum">(Anarchist)</span>

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1027.21</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/anarchist.jpg " alt="Анархист">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-x-force" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                    <a href="/version/4668">
                            Пневмотрон <span class="alphanum">(Pneumotron)</span>
                    </a>


<span>
    <span id="lb-icon-9628" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9628" class="tooltip lb-positive">New for 2015</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1026.35</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/TJnUek0.jpeg " alt="Пневмотрон">
                </div>
            </div>

    </div>

    <form method="get" action="/leaderboard">
        <span style="margin-right:1em">View Another Leaderboard:</span>
        <ul class="additional-options">
        <li><label style="display:none">Weight Class:</label>
            <select name="weight">

                    <option value="M">Middleweight</option>

                    <option value="R" selected="">70kg</option>

                    <option value="H">Heavyweight</option>

            </select>
        </li>
        <li><label style="display:none">Year:</label>
            <select name="year">
                <option value="2012">2012</option>

                    <option value="2014">2014</option>

                    <option value="2015" selected="">2015</option>

                    <option value="2016">2016</option>

            </select>
        </li>
        </ul>
        <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
    </form>
    <br>


	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Score</th>
                <th scope="col" colspan="2">Robot</th>

            </tr>
            </thead>
            <tbody>








                <tr id="row-орк">
                    <td style="text-align: center">4</td>
                    <td style="text-align: center">1024.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4664">
                             ОРК  <span class="alphanum">(ORK)</span>

                        </a>


<span>
    <span id="lb-icon-9629" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9629" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-матанга">
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">1019.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4674">
                             Матанга  <span class="alphanum">(Matanga)</span>

                        </a>


<span>
    <span id="lb-icon-10749" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10749" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-tkor">
                    <td style="text-align: center">6</td>
                    <td style="text-align: center">1019.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4653">
                             TKOR

                        </a>


<span>
    <span id="lb-icon-10750" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10750" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бешеный-металл">
                    <td style="text-align: center">7</td>
                    <td style="text-align: center">1018.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4680">
                             Бешеный металл  <span class="alphanum">(Mad Metal)</span>

                        </a>


<span>
    <span id="lb-icon-10751" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10751" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-iron-bucket">
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">1012.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4700">
                             Iron Bucket

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-6 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-гоша">
                    <td style="text-align: center">9</td>
                    <td style="text-align: center">1000.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4659">
                             Гоша  <span class="alphanum">(Gosha)</span>

                        </a>


<span>
    <span id="lb-icon-10753" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10753" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-insidecheops">
                    <td style="text-align: center">10</td>
                    <td style="text-align: center">1000.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4699">
                             InsideCheops

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-7 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-borer">
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">1000.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4695">
                             Borer

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-7 positions</span>
</span>

                        </span>
                    </td>
                </tr>
                <tr id="row-тиро">
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">1000.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4693">
                             Тиро  <span class="alphanum">(Tyro)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-7 positions</span>



</span>

                        </span>
                    </td>

                </tr>

                <tr id="row-skyline">
                    <td style="text-align: center">13</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4686">
                             Skyline
                        </a>

<span>
    <span id="lb-icon-10757" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10757" class="tooltip lb-positive">New for 2015</span>

</span>
                        </span>
                    </td>
                </tr>

                <tr id="row-bitva-robotov-stock-robot-1">
                    <td style="text-align: center">14</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4773">
                             Bitva Robotov Stock Robot 1

                        </a>


<span>
    <span id="lb-icon-10758" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10758" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-miner">
                    <td style="text-align: center">15</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4697">
                             Miner

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-8 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-sting-russia">
                    <td style="text-align: center">16</td>
                    <td style="text-align: center">999.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4673">
                             Sting

                        </a>


<span>
    <span id="lb-icon-10760" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10760" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-комета">
                    <td style="text-align: center">17</td>
                    <td style="text-align: center">999.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4666">
                             Комета  <span class="alphanum">(Comet)</span>

                        </a>


<span>
    <span id="lb-icon-10761" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10761" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-пламенный-мотор">
                    <td style="text-align: center">18</td>
                    <td style="text-align: center">993.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4694">
                             Пламенный мотор  <span class="alphanum">(Flame Motor)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-9 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-стальной-клык">
                    <td style="text-align: center">19</td>
                    <td style="text-align: center">993.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4696">
                             Стальной Клык  <span class="alphanum">(Steel Fang)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-9 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-железный-малыш">
                    <td style="text-align: center">20</td>
                    <td style="text-align: center">993.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4698">
                             Железный Малыш  <span class="alphanum">(Iron Baby)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-9 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-технотон">
                    <td style="text-align: center">21</td>
                    <td style="text-align: center">988.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4662">
                             Технотон  <span class="alphanum">(Technotone)</span>

                        </a>


<span>
    <span id="lb-icon-12383" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12383" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-кинетик">
                    <td style="text-align: center">22</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4660">
                             Кинетик  <span class="alphanum">(Kinetic)</span>

                        </a>


<span>
    <span id="lb-icon-12384" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12384" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-скорпион-2">
                    <td style="text-align: center">23</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4665">
                             Скорпион  <span class="alphanum">(Scorpion)</span>

                        </a>


<span>
    <span id="lb-icon-12385" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12385" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-кубаноид">
                    <td style="text-align: center">24</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4670">
                             Кубаноид  <span class="alphanum">(Kubanoid)</span>

                        </a>


<span>
    <span id="lb-icon-12386" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12386" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-моноклон">
                    <td style="text-align: center">25</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4672">
                             Моноклон  <span class="alphanum">(Monoclone)</span>

                        </a>


<span>
    <span id="lb-icon-12387" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12387" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-коловрат">
                    <td style="text-align: center">26</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4681">
                             Коловрат  <span class="alphanum">(Kolovrat)</span>

                        </a>


<span>
    <span id="lb-icon-12388" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12388" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-клещ">
                    <td style="text-align: center">27</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4683">
                             Клещ  <span class="alphanum">(Klesh)</span>

                        </a>


<span>
    <span id="lb-icon-12389" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12389" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-x7-russia">
                    <td style="text-align: center">28</td>
                    <td style="text-align: center">982.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4691">
                             X7

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

    <span class="tooltip lb-negative">-16 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-инквизитор">
                    <td style="text-align: center">29</td>
                    <td style="text-align: center">975.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4656">
                             Инквизитор  <span class="alphanum">(Inquisitor)</span>

                        </a>


<span>
    <span id="lb-icon-15880" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-15880" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-седьмой">
                    <td style="text-align: center">30</td>
                    <td style="text-align: center">975.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4658">
                             Седьмой  <span class="alphanum">(Seventh)</span>

                        </a>


<span>
    <span id="lb-icon-15881" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-15881" class="tooltip lb-positive">New for 2015</span>

</span>

                        </span>
                    </td>

                </tr>


            </tbody>
        </table>
	</div>