<h1>RCA Russian 70kg Leaderboard for 2016</h1>

    <div class="gridview-container mobile-show">
        <div class="gridview-square">
            <div class="gridview-title">
                <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                <a href="/version/4654">Доктор Шредер</a>

<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

<span class="tooltip lb-neutral">No change</span>



</span>

            </div>
            <div class="gridview-subtitle">
                <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                <p>1041.57</p>
            </div>
            <div class="gridview-image-container">
                <img class="fit-image" src=" /media/robot_images/2025/dr_perm.png " alt="Доктор Шредер">
            </div>
        </div>
    </div>
<div class="gridview-container grid-width-3">

        <div class="gridview-square  mobile-hide">
            <div id="row-доктор-шредер" class="gridview-title">
                <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                <a href="/version/4654">
                        Доктор Шредер

                            <span class="alphanum">(Dr. Shredder)</span>

                </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

<span class="tooltip lb-neutral">No change</span>



</span>

            </div>
            <div class="gridview-subtitle">
                <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                <p>1041.57</p>
            </div>
            <div class="gridview-image-container">
                <img class="fit-image" src=" /media/robot_images/2025/dr_perm.png " alt="Доктор Шредер">
            </div>
        </div>

        <div class="gridview-square ">
            <div id="row-phoenix-russia" class="gridview-title">
                <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                <a href="/version/4744">
                        Shelby

                </a>


<span>
<span id="lb-icon-9681" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9681" class="tooltip lb-positive" style="top: 115.381px; left: 862px; display: none;">New for 2016</span>

</span>

            </div>
            <div class="gridview-subtitle">
                <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                <p>1038.97</p>
            </div>
            <div class="gridview-image-container">
                <img class="fit-image" src=" /media/robot_images/2025/Shelby_Bitva_2016.jpg " alt="Shelby">
            </div>
        </div>

        <div class="gridview-square ">
            <div id="row-barracuda" class="gridview-title">
                <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                <a href="/version/4756">
                        Barracuda

                </a>


<span>
<span id="lb-icon-9682" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9682" class="tooltip lb-positive" style="top: 115.381px; left: 1360px; display: none;">New for 2016</span>

</span>

            </div>
            <div class="gridview-subtitle">
                <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                <p>1032.76</p>
            </div>
            <div class="gridview-image-container">
                <img class="fit-image" src=" /media/robot_images/2025/barracuda_kazakhstan__visit_crop.jpg " alt="Barracuda">
            </div>
        </div>

</div>

<form method="get" action="/leaderboard">
    <span style="margin-right:1em">View Another Leaderboard:</span>
    <ul class="additional-options">
    <li><label style="display:none">Weight Class:</label>
        <select name="weight">


                <option value="M">Middleweight</option>

                <option value="R" selected="">70kg</option>

                <option value="H">Heavyweight</option>

        </select>
    </li>
    <li><label style="display:none">Year:</label>
        <select name="year">  <option value="2012">2012</option>

                <option value="2014">2014</option>

                <option value="2015">2015</option>

                <option value="2016" selected="">2016</option>

        </select>
    </li>
    </ul>
    <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
</form>
<br>


<div class="lb-table-container">
    <table>
        <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Score</th>
            <th scope="col" colspan="2">Robot</th>

        </tr>
        </thead>
        <tbody>








            <tr id="row-tkor">
                <td style="text-align: center">4</td>
                <td style="text-align: center">1027.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4653">
                         TKOR

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

<span class="tooltip lb-positive">+2 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-анархист">
                <td style="text-align: center">5</td>
                <td style="text-align: center">1027.2</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4679">
                         Анархист  <span class="alphanum">(Anarchist)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative" style="top: 691.281px; left: 1228px; display: none;">-3 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-x-force">
                <td style="text-align: center">6</td>
                <td style="text-align: center">1024.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4669">
                         X-Force

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-3 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-орк">
                <td style="text-align: center">7</td>
                <td style="text-align: center">1024.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4664">
                         ОРК  <span class="alphanum">(ORK)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-3 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-atom-v1">
                <td style="text-align: center">8</td>
                <td style="text-align: center">1024.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4739">
                         Atom

                    </a>


<span>
<span id="lb-icon-10782" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10782" class="tooltip lb-positive" style="top: 826.281px; left: 1154px; display: none;">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-бешеный-металл">
                <td style="text-align: center">9</td>
                <td style="text-align: center">1018.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4680">
                         Бешеный металл  <span class="alphanum">(Mad Metal)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-2 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-горбатый">
                <td style="text-align: center">10</td>
                <td style="text-align: center">1015.7</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4765">
                         Горбатый  <span class="alphanum">(Hunchback)</span>

                    </a>


<span>
<span id="lb-icon-10784" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10784" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-матанга">
                <td style="text-align: center">11</td>
                <td style="text-align: center">1014.4</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4674">
                         Матанга  <span class="alphanum">(Matanga)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-6 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-iron-bucket">
                <td style="text-align: center">12</td>
                <td style="text-align: center">1012.6</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4700">
                         Iron Bucket

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-4 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-weber">
                <td style="text-align: center">13</td>
                <td style="text-align: center">1008.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4748">
                         Weber

                    </a>


<span>
<span id="lb-icon-10787" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-10787" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-коловрат">
                <td style="text-align: center">14</td>
                <td style="text-align: center">1004.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4682">
                         Коловрат  <span class="alphanum">(Kolovrat)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_2</span>

<span class="tooltip lb-positive">+12 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-кубаноид">
                <td style="text-align: center">15</td>
                <td style="text-align: center">1001.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4671">
                         Кубаноид  <span class="alphanum">(Kubanoid)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

<span class="tooltip lb-positive">+9 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-гоша">
                <td style="text-align: center">16</td>
                <td style="text-align: center">1000.9</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4659">
                         Гоша  <span class="alphanum">(Gosha)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-7 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-insidecheops">
                <td style="text-align: center">17</td>
                <td style="text-align: center">1000.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4699">
                         InsideCheops

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-7 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-borer">
                <td style="text-align: center">18</td>
                <td style="text-align: center">1000.4</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4695">
                         Borer

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-7 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-тиро">
                <td style="text-align: center">19</td>
                <td style="text-align: center">1000.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4693">
                         Тиро  <span class="alphanum">(Tyro)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-7 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-skyline">
                <td style="text-align: center">20</td>
                <td style="text-align: center">1000.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4686">
                         Skyline

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-7 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-miner">
                <td style="text-align: center">21</td>
                <td style="text-align: center">1000.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4697">
                         Miner

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-6 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-sting-russia">
                <td style="text-align: center">22</td>
                <td style="text-align: center">999.6</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4673">
                         Sting

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-6 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-комета">
                <td style="text-align: center">23</td>
                <td style="text-align: center">999.6</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4666">
                         Комета  <span class="alphanum">(Comet)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

<span class="tooltip lb-negative">-6 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-гнутель">
                <td style="text-align: center">24</td>
                <td style="text-align: center">998.7</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4731">
                         Гнутель  <span class="alphanum">(Gnutel)</span>

                    </a>


<span>
<span id="lb-icon-12405" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12405" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-железный-дровосек">
                <td style="text-align: center">25</td>
                <td style="text-align: center">997.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4779">
                         Железный дровосек  <span class="alphanum">(Tin Woodman)</span>

                    </a>


<span>
<span id="lb-icon-12406" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12406" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-matador">
                <td style="text-align: center">26</td>
                <td style="text-align: center">997.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/co.svg " alt="CO Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4770">
                         Matador

                    </a>


<span>
<span id="lb-icon-12407" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12407" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-спокойный-металл">
                <td style="text-align: center">27</td>
                <td style="text-align: center">996.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4769">
                         Спокойный металл  <span class="alphanum">(Calm Metal)</span>

                    </a>


<span>
<span id="lb-icon-12408" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12408" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-мегатрон">
                <td style="text-align: center">28</td>
                <td style="text-align: center">996.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/kz.svg " alt="KZ Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4777">
                         Мегатрон  <span class="alphanum">(Megatron)</span>

                    </a>


<span>
<span id="lb-icon-12409" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12409" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-гериер">
                <td style="text-align: center">29</td>
                <td style="text-align: center">994.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/cg.svg " alt="CG Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4776">
                         Гериер  <span class="alphanum">(Guerrier)</span>

                    </a>


<span>
<span id="lb-icon-12410" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12410" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-bitva-robotov-stock-robot-1">
                <td style="text-align: center">30</td>
                <td style="text-align: center">994.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4774">
                         Bitva Robotov Stock Robot 1

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-дезинтеграл">
                <td style="text-align: center">31</td>
                <td style="text-align: center">993.9</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4780">
                         Дезинтеграл  <span class="alphanum">(Disintegral)</span>

                    </a>


<span>
<span id="lb-icon-12412" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12412" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-playbot-russia">
                <td style="text-align: center">32</td>
                <td style="text-align: center">993.9</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4766">
                         PlayBot

                    </a>


<span>
<span id="lb-icon-12413" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12413" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-лео">
                <td style="text-align: center">33</td>
                <td style="text-align: center">993.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4768">
                         ЛЕО  <span class="alphanum">(Leo)</span>

                    </a>


<span>
<span id="lb-icon-12414" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12414" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-пламенный-мотор">
                <td style="text-align: center">34</td>
                <td style="text-align: center">993.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4694">
                         Пламенный мотор  <span class="alphanum">(Flame Motor)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-стальной-клык">
                <td style="text-align: center">35</td>
                <td style="text-align: center">993.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4696">
                         Стальной Клык  <span class="alphanum">(Steel Fang)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-железный-малыш">
                <td style="text-align: center">36</td>
                <td style="text-align: center">993.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4698">
                         Железный Малыш  <span class="alphanum">(Iron Baby)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-одуванчик">
                <td style="text-align: center">37</td>
                <td style="text-align: center">992.8</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4738">
                         Одуванчик  <span class="alphanum">(Dandelion)</span>

                    </a>


<span>
<span id="lb-icon-12418" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12418" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-кинетик">
                <td style="text-align: center">38</td>
                <td style="text-align: center">989.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4661">
                         Кинетик  <span class="alphanum">(Kinetic)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-peacemaker">
                <td style="text-align: center">39</td>
                <td style="text-align: center">988.2</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4730">
                         Peacemaker

                    </a>


<span>
<span id="lb-icon-12420" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12420" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-скорпион-2">
                <td style="text-align: center">40</td>
                <td style="text-align: center">987.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4665">
                         Скорпион  <span class="alphanum">(Scorpion)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-17 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-моноклон">
                <td style="text-align: center">41</td>
                <td style="text-align: center">987.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4672">
                         Моноклон  <span class="alphanum">(Monoclone)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-16 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-клещ">
                <td style="text-align: center">42</td>
                <td style="text-align: center">987.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4683">
                         Клещ  <span class="alphanum">(Klesh)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-15 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-дровосек">
                <td style="text-align: center">43</td>
                <td style="text-align: center">987.5</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4735">
                         Дровосек  <span class="alphanum">(Lumberjack)</span>

                    </a>


<span>
<span id="lb-icon-12424" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12424" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-деструктор">
                <td style="text-align: center">44</td>
                <td style="text-align: center">987.1</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4726">
                         Деструктор  <span class="alphanum">(Destructor)</span>

                    </a>


<span>
<span id="lb-icon-12425" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12425" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-жнец">
                <td style="text-align: center">45</td>
                <td style="text-align: center">987.1</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4736">
                         Жнец  <span class="alphanum">(Reaper)</span>

                    </a>


<span>
<span id="lb-icon-12426" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12426" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-шахтёр">
                <td style="text-align: center">46</td>
                <td style="text-align: center">985.3</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4767">
                         Шахтёр  <span class="alphanum">(Miner)</span>

                    </a>


<span>
<span id="lb-icon-12427" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12427" class="tooltip lb-positive">New for 2016</span>

</span>

                    </span>
                </td>

            </tr>



            <tr id="row-x7-russia">
                <td style="text-align: center">47</td>
                <td style="text-align: center">982.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4691">
                         X7

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-19 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-технотон">
                <td style="text-align: center">48</td>
                <td style="text-align: center">977.0</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4663">
                         Технотон  <span class="alphanum">(Technotone)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_3</span>

<span class="tooltip lb-negative">-27 positions</span>



</span>

                    </span>
                </td>

            </tr>



            <tr id="row-инквизитор">
                <td style="text-align: center">49</td>
                <td style="text-align: center">975.4</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4656">
                         Инквизитор  <span class="alphanum">(Inquisitor)</span>

                    </a>


<span>

    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

<span class="tooltip lb-negative">-20 positions</span>
</span>
                    </span>
                </td>
            </tr>
            <tr id="row-седьмой">
                <td style="text-align: center">50</td>
                <td style="text-align: center">975.4</td>
                <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                <td>
                    <span class="robot-name-cell">
                    <a href="/version/4658">
                         Седьмой  <span class="alphanum">(Seventh)</span>
                    </a>
<span>
    <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>
<span class="tooltip lb-negative">-20 positions</span>
</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>