    <h1>RCA Russian Heavyweight Leaderboard for 2016</h1>

        <div class="gridview-container mobile-show">
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4763">Реик</a>

<span>
    <span id="lb-icon-9630" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9630" class="tooltip lb-positive">New for 2016</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1006.25</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/rake_geek_picknic.jpg " alt="Реик">
                </div>
            </div>
        </div>
	<div class="gridview-container grid-width-3">

            <div class="gridview-square  mobile-hide">
				<div id="row-rake" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4763">
                            Реик

                                <span class="alphanum">(Rake)</span>

                    </a>


<span>
    <span id="lb-icon-9630" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9630" class="tooltip lb-positive">New for 2016</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1006.25</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/rake_geek_picknic.jpg " alt="Реик">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-monte" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                    <a href="/version/4704">
                            Monte

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative" style="top: 115.381px; left: 874px; display: none;">-1 position</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/xe.svg" alt="XE Flag">
                    <p>1006.20</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/Monte_Bitva.jpg " alt="Monte">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-kan-opener-j-spec" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                    <a href="/version/5056">
                            Kan-Opener

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/xe.svg" alt="XE Flag">
                    <p>1004.37</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/zmQr1JvwRk4.jpg " alt="Kan-Opener">
                </div>
            </div>

    </div>

    <form method="get" action="/leaderboard">
        <span style="margin-right:1em">View Another Leaderboard:</span>
        <ul class="additional-options">
        <li><label style="display:none">Weight Class:</label>
            <select name="weight">

                    <option value="M">Middleweight</option>

                    <option value="R">70kg</option>

                    <option value="H" selected="">Heavyweight</option>

            </select>
        </li>
        <li><label style="display:none">Year:</label>
            <select name="year">
                    <option value="2016" selected="">2016</option>

                    <option value="2017">2017</option>

                    <option value="2018">2018</option>

                    <option value="2019">2019</option>

                    <option value="2023">2023</option>

                    <option value="2024">2024</option>

                    <option value="2025">2025</option>

            </select>
        </li>
        </ul>
        <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
    </form>
    <br>


	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Score</th>
                <th scope="col" colspan="2">Robot</th>

            </tr>
            </thead>
            <tbody>
                <tr id="row-cobra">
                    <td style="text-align: center">4</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/be.svg " alt="BE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4781">
                             Brutus

                        </a>


<span>
    <span id="lb-icon-9633" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9633" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-катюша">
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4787">
                             Катюша  <span class="alphanum">(Katyusha)</span>

                        </a>


<span>
    <span id="lb-icon-9634" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9634" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-дольф">
                    <td style="text-align: center">6</td>
                    <td style="text-align: center">997.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4716">
                             Дольф  <span class="alphanum">(Dolf)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-3 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-армагеддон">
                    <td style="text-align: center">7</td>
                    <td style="text-align: center">997.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4789">
                             Армагеддон  <span class="alphanum">(Armageddon)</span>

                        </a>


<span>
    <span id="lb-icon-12391" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12391" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-halo-heavyweight">
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">997.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4784">
                             Halo

                        </a>


<span>
    <span id="lb-icon-12392" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12392" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бронтозавр">
                    <td style="text-align: center">9</td>
                    <td style="text-align: center">996.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4764">
                             Бронтозавр  <span class="alphanum">(Brontosaurus)</span>

                        </a>


<span>
    <span id="lb-icon-12393" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12393" class="tooltip lb-positive" style="top: 871.281px; left: 1176px; display: none;">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-большой-брат">
                    <td style="text-align: center">10</td>
                    <td style="text-align: center">996.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4723">
                             Большой Брат  <span class="alphanum">(Piramida)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-6 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-сталкер">
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">996.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4724">
                             Сталкер  <span class="alphanum">(Stalker)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-6 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-спартак">
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">991.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4772">
                             Спартак  <span class="alphanum">(Spartacus)</span>

                        </a>


<span>
    <span id="lb-icon-12396" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12396" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-ripper-5">
                    <td style="text-align: center">13</td>
                    <td style="text-align: center">991.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4705">
                             Ripper 5

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-7 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-nan">
                    <td style="text-align: center">14</td>
                    <td style="text-align: center">983.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4742">
                             -NaN

                        </a>


<span>
    <span id="lb-icon-16889" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-16889" class="tooltip lb-positive">New for 2016</span>

</span>

                        </span>
                    </td>

                </tr>


            </tbody>
        </table>
	</div>