    <h1>RCA Russian Middleweight Leaderboard for 2016</h1>

        <div class="gridview-container mobile-show">
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4701">Darth-Вёдер</a>

<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral">No change</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1024.55</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/G7BkRjHo7jg1.jpg " alt="Darth-Вёдер">
                </div>
            </div>
        </div>
	<div class="gridview-container grid-width-3">

            <div class="gridview-square  mobile-hide">
				<div id="row-darth-vyoder" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4701">
                            Darth-Вёдер

                                <span class="alphanum">(Darth Bucket)</span>

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral">No change</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1024.55</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/G7BkRjHo7jg1.jpg " alt="Darth-Вёдер">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-т-34" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                    <a href="/version/4722">
                            Т-34

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral">No change</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>998.10</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/unknown_bronebots_3.png " alt="Т-34">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-вареник" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                    <a href="/version/4703">
                            Вареник

                                <span class="alphanum">(Varenik)</span>

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral">No change</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>987.95</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/russian_overhead.webp " alt="Вареник">
                </div>
            </div>

    </div>

    <form method="get" action="/leaderboard">
        <span style="margin-right:1em">View Another Leaderboard:</span>
        <ul class="additional-options">
        <li><label style="display:none">Weight Class:</label>
            <select name="weight">

                    <option value="M" selected="">Middleweight</option>

                    <option value="R">70kg</option>

                    <option value="H">Heavyweight</option>

            </select>
        </li>
        <li><label style="display:none">Year:</label>
            <select name="year">
                    <option value="2014">2014</option>
                    <option value="2016" selected="">2016</option>
            </select>
        </li>
        </ul>
        <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
    </form>
    <br>


	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Score</th>
                <th scope="col" colspan="2">Robot</th>

            </tr>
            </thead>
            <tbody>








                <tr id="row-спасатель">
                    <td style="text-align: center">4</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4702">
                             Спасатель  <span class="alphanum">(Rescuer)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral" style="top: 650.203px; left: 1160px; display: none;">No change</span>



</span>

                        </span>
                    </td>

                </tr>


            </tbody>
        </table>
	</div>