
    <h1>RCA Russian Heavyweight Leaderboard for 2018</h1>

        <div class="gridview-container mobile-show">
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4870">Dhanaji</a>

<span>
    <span id="lb-icon-9748" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9748" class="tooltip lb-positive">New for 2018</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/in.svg" alt="IN Flag">
                    <p>1050.09</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/DHANAJI-5-1024x6461.jpg " alt="Dhanaji">
                </div>
            </div>
        </div>
	<div class="gridview-container grid-width-3">

            <div class="gridview-square  mobile-hide">
				<div id="row-yesaji" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4870">
                            Dhanaji

                    </a>


<span>
    <span id="lb-icon-9748" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-9748" class="tooltip lb-positive">New for 2018</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/in.svg" alt="IN Flag">
                    <p>1050.09</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/DHANAJI-5-1024x6461.jpg " alt="Dhanaji">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-weber" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                    <a href="/version/4751">
                            Weber 2.0

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1038.14</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/Weber1.png " alt="Weber 2.0">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-barracuda" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                    <a href="/version/4759">
                            Barracuda

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1023.37</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/barracuda_2018.png " alt="Barracuda">
                </div>
            </div>

    </div>

    <form method="get" action="/leaderboard">
        <span style="margin-right:1em">View Another Leaderboard:</span>
        <ul class="additional-options">
        <li><label style="display:none">Weight Class:</label>
            <select name="weight">

                    <option value="M">Middleweight</option>

                    <option value="R">70kg</option>

                    <option value="H" selected="">Heavyweight</option>

            </select>
        </li>
        <li><label style="display:none">Year:</label>
            <select name="year">



                    <option value="2016">2016</option>

                    <option value="2017">2017</option>

                    <option value="2018" selected="">2018</option>

                    <option value="2019">2019</option>

                    <option value="2023">2023</option>

                    <option value="2024">2024</option>

                    <option value="2025">2025</option>

            </select>
        </li>
        </ul>
        <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
    </form>
    <br>


	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Score</th>
                <th scope="col" colspan="2">Robot</th>

            </tr>
            </thead>
            <tbody>








                <tr id="row-girl-barracuda">
                    <td style="text-align: center">4</td>
                    <td style="text-align: center">1021.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4813">
                             Girl Barracuda

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-neutral">remove</span>

    <span class="tooltip lb-neutral">No change</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-prostofilya">
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">1017.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/br.svg " alt="BR Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5858">
                             Prostofilya

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-2 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-ящер">
                    <td style="text-align: center">6</td>
                    <td style="text-align: center">1012.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4874">
                             Ящер  <span class="alphanum">(Lizard)</span>

                        </a>


<span>
    <span id="lb-icon-12482" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12482" class="tooltip lb-positive">New for 2018</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-матанга">
                    <td style="text-align: center">7</td>
                    <td style="text-align: center">1010.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4675">
                             Матанга  <span class="alphanum">(Matanga)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-2 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-phoenix-russia">
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">1008.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4745">
                             Phoenix

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-2 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-rainbow">
                    <td style="text-align: center">9</td>
                    <td style="text-align: center">1006.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4821">
                             Rainbow

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_2</span>

    <span class="tooltip lb-positive">+23 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-zelzal">
                    <td style="text-align: center">10</td>
                    <td style="text-align: center">1002.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ir.svg " alt="IR Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4817">
                             Zelzal+

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-cake">
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">1002.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4808">
                             Тортик  <span class="alphanum">(Cake)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-гнутель">
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">1001.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4732">
                             Гнутель  <span class="alphanum">(Gnutel)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-каратель">
                    <td style="text-align: center">13</td>
                    <td style="text-align: center">1000.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4814">
                             Каратель  <span class="alphanum">(Punisher)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+9 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-cobra">
                    <td style="text-align: center">14</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/be.svg " alt="BE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4781">
                             Brutus

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-bender-russia">
                    <td style="text-align: center">15</td>
                    <td style="text-align: center">998.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4836">
                             Bender

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-черный-бургер">
                    <td style="text-align: center">16</td>
                    <td style="text-align: center">998.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4837">
                             Черный бургер  <span class="alphanum">(Black Burger)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-дольф">
                    <td style="text-align: center">17</td>
                    <td style="text-align: center">997.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4716">
                             Дольф  <span class="alphanum">(Dolf)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-армагеддон">
                    <td style="text-align: center">18</td>
                    <td style="text-align: center">997.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4789">
                             Армагеддон  <span class="alphanum">(Armageddon)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-катюша">
                    <td style="text-align: center">19</td>
                    <td style="text-align: center">997.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4788">
                             Катюша  <span class="alphanum">(Katyusha)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-redback">
                    <td style="text-align: center">20</td>
                    <td style="text-align: center">997.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/au.svg " alt="AU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4832">
                             Redback

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+1 position</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-пончик">
                    <td style="text-align: center">21</td>
                    <td style="text-align: center">997.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4816">
                             Пончик  <span class="alphanum">(Donut)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+2 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-muptezel">
                    <td style="text-align: center">22</td>
                    <td style="text-align: center">996.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/tr.svg " alt="TR Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4819">
                             Muptezel

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-halo-heavyweight">
                    <td style="text-align: center">23</td>
                    <td style="text-align: center">996.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4784">
                             Halo

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-grand-master">
                    <td style="text-align: center">24</td>
                    <td style="text-align: center">993.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4809">
                             Grand Master

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-banana-king">
                    <td style="text-align: center">25</td>
                    <td style="text-align: center">993.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4818">
                             Banana King

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_2</span>

    <span class="tooltip lb-positive">+12 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-акула">
                    <td style="text-align: center">26</td>
                    <td style="text-align: center">993.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4828">
                             Акула  <span class="alphanum">(Shark)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-crusher-russia">
                    <td style="text-align: center">27</td>
                    <td style="text-align: center">993.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4825">
                             Crusher

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-ripper-5">
                    <td style="text-align: center">28</td>
                    <td style="text-align: center">993.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4706">
                             Ripper 5

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-комета">
                    <td style="text-align: center">29</td>
                    <td style="text-align: center">993.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4667">
                             Комета  <span class="alphanum">(Comet)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-cyclone-2017">
                    <td style="text-align: center">30</td>
                    <td style="text-align: center">992.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5280">
                             Cyclone

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

    <span class="tooltip lb-negative">-15 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бронтозавр">
                    <td style="text-align: center">31</td>
                    <td style="text-align: center">992.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4764">
                             Бронтозавр  <span class="alphanum">(Brontosaurus)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-огненный-муравей">
                    <td style="text-align: center">32</td>
                    <td style="text-align: center">992.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4810">
                             Огненный муравей  <span class="alphanum">(Fire Ant)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-спартак">
                    <td style="text-align: center">33</td>
                    <td style="text-align: center">991.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4772">
                             Спартак  <span class="alphanum">(Spartacus)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-rake">
                    <td style="text-align: center">34</td>
                    <td style="text-align: center">991.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4763">
                             Реик  <span class="alphanum">(Rake)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-bulldozer">
                    <td style="text-align: center">35</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4831">
                             Bulldozer

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+5 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-sable">
                    <td style="text-align: center">36</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4873">
                             Sable

                        </a>


<span>
    <span id="lb-icon-12512" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12512" class="tooltip lb-positive">New for 2018</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-клещ">
                    <td style="text-align: center">37</td>
                    <td style="text-align: center">985.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4684">
                             Клещ  <span class="alphanum">(Klesh)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+4 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-деструктор">
                    <td style="text-align: center">38</td>
                    <td style="text-align: center">983.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4729">
                             Деструктор  <span class="alphanum">(Destructor)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_3</span>

    <span class="tooltip lb-negative">-26 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-nan">
                    <td style="text-align: center">39</td>
                    <td style="text-align: center">983.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4742">
                             -NaN

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-positive">stat_1</span>

    <span class="tooltip lb-positive">+3 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-лесник">
                    <td style="text-align: center">40</td>
                    <td style="text-align: center">981.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4815">
                             Лесник  <span class="alphanum">(Forester)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_2</span>

    <span class="tooltip lb-negative">-12 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-егерь">
                    <td style="text-align: center">41</td>
                    <td style="text-align: center">981.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/kz.svg " alt="KZ Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4866">
                             Егерь  <span class="alphanum">(Jaeger)</span>

                        </a>


<span>
    <span id="lb-icon-12517" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12517" class="tooltip lb-positive">New for 2018</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-foxic">
                    <td style="text-align: center">42</td>
                    <td style="text-align: center">975.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/xe.svg " alt="XE Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5270">
                             Foxic

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_3</span>

    <span class="tooltip lb-negative">-28 positions</span>



</span>

                        </span>
                    </td>

                </tr>


            </tbody>
        </table>
	</div>


