
    <h1>RCA Russian Heavyweight Leaderboard for 2023</h1>

        <div class="gridview-container mobile-show">
            <div class="gridview-square">
				<div class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4917">废铁</a>

<span>
    <span id="lb-icon-11062" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-11062" class="tooltip lb-positive">New for 2023</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/cn.svg" alt="CN Flag">
                    <p>1121.37</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/Iron_Scrap_2023_Crop.jpg " alt="废铁">
                </div>
            </div>
        </div>
	<div class="gridview-container grid-width-3">

            <div class="gridview-square  mobile-hide">
				<div id="row-废铁" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_gold.png" alt="Gold Trophy">
                    <a href="/version/4917">
                            废铁

                                <span class="alphanum">(Iron Scrap)</span>

                    </a>


<span>
    <span id="lb-icon-11062" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-11062" class="tooltip lb-positive">New for 2023</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/cn.svg" alt="CN Flag">
                    <p>1121.37</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/Iron_Scrap_2023_Crop.jpg " alt="废铁">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-путевой" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_silver.png" alt="Silver Trophy">
                    <a href="/version/4966">
                            Путевой-23

                                <span class="alphanum">(Putevoy-23)</span>

                    </a>


<span>
    <span id="lb-icon-12580" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12580" class="tooltip lb-positive">New for 2023</span>

</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1053.60</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/2MnWnv9lpoY.jpg " alt="Путевой-23">
                </div>
            </div>

            <div class="gridview-square ">
				<div id="row-phoenix-russia" class="gridview-title">
                    <img class="big-trophy" src="/static/awards/trophy_bronze.png" alt="Bronze Trophy">
                    <a href="/version/4745">
                            Archy

                    </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-2 positions</span>



</span>

                </div>
                <div class="gridview-subtitle">
                    <img class="flag-image" src="/static/flags/4x3/ru.svg" alt="RU Flag">
                    <p>1045.83</p>
                </div>
                <div class="gridview-image-container">
                    <img class="fit-image" src=" /media/robot_images/2025/archy_solarbot_2017.jpg " alt="Archy">
                </div>
            </div>

    </div>

    <form method="get" action="/leaderboard">
        <span style="margin-right:1em">View Another Leaderboard:</span>
        <ul class="additional-options">
        <li><label style="display:none">Weight Class:</label>
            <select name="weight">

                    <option value="M">Middleweight</option>

                    <option value="R">70kg</option>

                    <option value="H" selected="">Heavyweight</option>

            </select>
        </li>
        <li><label style="display:none">Year:</label>
            <select name="year">
                    <option value="2016">2016</option>

                    <option value="2017">2017</option>

                    <option value="2018">2018</option>

                    <option value="2019">2019</option>

                    <option value="2023" selected="">2023</option>

                    <option value="2024">2024</option>

                    <option value="2025">2025</option>

            </select>
        </li>
        </ul>
        <button class="search-button material-symbols-outlined" type="submit" value="Go"> Search </button>
    </form>
    <br>


	<div class="lb-table-container">
        <table>
            <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Score</th>
                <th scope="col" colspan="2">Robot</th>

            </tr>
            </thead>
            <tbody>








                <tr id="row-weber">
                    <td style="text-align: center">4</td>
                    <td style="text-align: center">1044.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4752">
                             Weber

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_1</span>

    <span class="tooltip lb-negative">-2 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-godspeed">
                    <td style="text-align: center">5</td>
                    <td style="text-align: center">1043.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/in.svg " alt="IN Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4993">
                             Godspeed

                        </a>


<span>
    <span id="lb-icon-12583" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12583" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-rainbow">
                    <td style="text-align: center">6</td>
                    <td style="text-align: center">1039.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4823">
                             Rainbow

                        </a>


<span>
    <span id="lb-icon-12584" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12584" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-barracuda">
                    <td style="text-align: center">7</td>
                    <td style="text-align: center">1032.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4761">
                             Barracuda

                        </a>


<span>
    <span id="lb-icon-12585" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12585" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-atom">
                    <td style="text-align: center">8</td>
                    <td style="text-align: center">1026.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4897">
                             Atom

                        </a>


<span>
    <span id="lb-icon-12586" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12586" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-dhanaji">
                    <td style="text-align: center">9</td>
                    <td style="text-align: center">1025.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/in.svg " alt="IN Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4871">
                             Dhanaji 2.0

                        </a>


<span>
    <span id="lb-icon-12587" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12587" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-медоеда">
                    <td style="text-align: center">10</td>
                    <td style="text-align: center">1014.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4890">
                             Медоеда  <span class="alphanum">(Honey Badger)</span>

                        </a>


<span>
    <span id="lb-icon-12588" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12588" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-rh-bot">
                    <td style="text-align: center">11</td>
                    <td style="text-align: center">1013.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4976">
                             RH-Bot

                        </a>


<span>
    <span id="lb-icon-12589" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12589" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-lonely-wolf">
                    <td style="text-align: center">12</td>
                    <td style="text-align: center">1013.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/tr.svg " alt="TR Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4900">
                             Lonely Wolf

                        </a>


<span>
    <span id="lb-icon-12590" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12590" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-турбомаща">
                    <td style="text-align: center">13</td>
                    <td style="text-align: center">1012.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4996">
                             Турбомаща  <span class="alphanum">(Turbomasha)</span>

                        </a>


<span>
    <span id="lb-icon-12591" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12591" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-папочка">
                    <td style="text-align: center">14</td>
                    <td style="text-align: center">1012.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4951">
                             Папочка  <span class="alphanum">(Daddy)</span>

                        </a>


<span>
    <span id="lb-icon-12592" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12592" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-redhorn">
                    <td style="text-align: center">15</td>
                    <td style="text-align: center">1011.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4886">
                             RedHorn

                        </a>


<span>
    <span id="lb-icon-12593" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12593" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-матанга">
                    <td style="text-align: center">16</td>
                    <td style="text-align: center">1010.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4676">
                             Матанга  <span class="alphanum">(Matanga)</span>

                        </a>


<span>
    <span id="lb-icon-12594" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12594" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-красный-треугольник">
                    <td style="text-align: center">17</td>
                    <td style="text-align: center">1006.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4990">
                             Красный треугольник  <span class="alphanum">(Red Triangle)</span>

                        </a>


<span>
    <span id="lb-icon-12595" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12595" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-колобаха">
                    <td style="text-align: center">18</td>
                    <td style="text-align: center">1003.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4984">
                             Колобаха  <span class="alphanum">(Kolobakha)</span>

                        </a>


<span>
    <span id="lb-icon-12596" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12596" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-sinus">
                    <td style="text-align: center">19</td>
                    <td style="text-align: center">1002.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4981">
                             Sinus

                        </a>


<span>
    <span id="lb-icon-12597" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12597" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-зверобой">
                    <td style="text-align: center">20</td>
                    <td style="text-align: center">1001.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4957">
                             Зверобой  <span class="alphanum">(Hypericum)</span>

                        </a>


<span>
    <span id="lb-icon-12598" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12598" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бобр">
                    <td style="text-align: center">21</td>
                    <td style="text-align: center">1000.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5000">
                             Б.О.Б.Р.  <span class="alphanum">(B.O.B.R.)</span>

                        </a>


<span>
    <span id="lb-icon-12599" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12599" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-хозяин-полей">
                    <td style="text-align: center">22</td>
                    <td style="text-align: center">1000.2</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4962">
                             Хозяин полей  <span class="alphanum">(Lord of the Fields)</span>

                        </a>


<span>
    <span id="lb-icon-12600" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12600" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-алмазный-воин">
                    <td style="text-align: center">23</td>
                    <td style="text-align: center">1000.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4902">
                             Алмазный Воин  <span class="alphanum">(Diamond Warrior)</span>

                        </a>


<span>
    <span id="lb-icon-12601" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12601" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-пневмокракен">
                    <td style="text-align: center">24</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4892">
                             Пневмокракен  <span class="alphanum">(Pneumo Kraken)</span>

                        </a>


<span>
    <span id="lb-icon-12602" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12602" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-sarkhel">
                    <td style="text-align: center">25</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/in.svg " alt="IN Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4947">
                             Sarkhel

                        </a>


<span>
    <span id="lb-icon-12603" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12603" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-врп">
                    <td style="text-align: center">26</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4953">
                             ВРП  <span class="alphanum">(VRP)</span>

                        </a>


<span>
    <span id="lb-icon-12604" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12604" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-war-machine-india">
                    <td style="text-align: center">27</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/in.svg " alt="IN Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4970">
                             War Machine

                        </a>


<span>
    <span id="lb-icon-12605" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12605" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-golden-fury">
                    <td style="text-align: center">28</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/in.svg " alt="IN Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4974">
                             Golden Fury

                        </a>


<span>
    <span id="lb-icon-12606" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12606" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-андромеда">
                    <td style="text-align: center">29</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5002">
                             Андромеда  <span class="alphanum">(Andromeda)</span>

                        </a>


<span>
    <span id="lb-icon-12607" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12607" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-вольт">
                    <td style="text-align: center">30</td>
                    <td style="text-align: center">1000.0</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5007">
                             Вольт  <span class="alphanum">(Volt)</span>

                        </a>


<span>
    <span id="lb-icon-12608" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12608" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-гнутель">
                    <td style="text-align: center">31</td>
                    <td style="text-align: center">997.7</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4733">
                             Гнутель  <span class="alphanum">(Gnutel)</span>

                        </a>


<span>
    <span id="lb-icon-12609" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12609" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-газонокосилка">
                    <td style="text-align: center">32</td>
                    <td style="text-align: center">989.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4983">
                             Газонокосилка  <span class="alphanum">(Lawn Mower)</span>

                        </a>


<span>
    <span id="lb-icon-12610" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12610" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-neutrhino">
                    <td style="text-align: center">33</td>
                    <td style="text-align: center">988.8</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4903">
                             NeutRhino

                        </a>


<span>
    <span id="lb-icon-12611" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12611" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-гладиатор-2">
                    <td style="text-align: center">34</td>
                    <td style="text-align: center">988.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4971">
                             Гладиатор  <span class="alphanum">(Gladiator)</span>

                        </a>


<span>
    <span id="lb-icon-12612" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12612" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-kamaz">
                    <td style="text-align: center">35</td>
                    <td style="text-align: center">987.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4995">
                             Kamaz

                        </a>


<span>
    <span id="lb-icon-12613" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12613" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-урал-батыр">
                    <td style="text-align: center">36</td>
                    <td style="text-align: center">987.9</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4988">
                             Урал-Батыр  <span class="alphanum">(Ural-Batyr)</span>

                        </a>


<span>
    <span id="lb-icon-12614" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12614" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-терработ">
                    <td style="text-align: center">37</td>
                    <td style="text-align: center">987.6</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4972">
                             Терработ  <span class="alphanum">(Terrabot)</span>

                        </a>


<span>
    <span id="lb-icon-12615" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12615" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-вульж">
                    <td style="text-align: center">38</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4883">
                             Вульж  <span class="alphanum">(Voulge)</span>

                        </a>


<span>

        <span class="difference-icon material-symbols-outlined mouseover-target lb-negative">stat_minus_3</span>

    <span class="tooltip lb-negative">-35 positions</span>



</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бык">
                    <td style="text-align: center">39</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4888">
                             Бык  <span class="alphanum">(Bull)</span>

                        </a>


<span>
    <span id="lb-icon-12617" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12617" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бриллиантбот">
                    <td style="text-align: center">40</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4893">
                             Бриллиантбот  <span class="alphanum">(Brilliant Bot)</span>

                        </a>


<span>
    <span id="lb-icon-12618" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12618" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бузинатор">
                    <td style="text-align: center">41</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4899">
                             Бузинатор  <span class="alphanum">(Buzzinator)</span>

                        </a>


<span>
    <span id="lb-icon-12619" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12619" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-шеф">
                    <td style="text-align: center">42</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4955">
                             Шеф  <span class="alphanum">(Chef)</span>

                        </a>


<span>
    <span id="lb-icon-12620" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12620" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-murabey">
                    <td style="text-align: center">43</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4963">
                             Murabey

                        </a>


<span>
    <span id="lb-icon-12621" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12621" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-red-alert">
                    <td style="text-align: center">44</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4973">
                             Red Alert

                        </a>


<span>
    <span id="lb-icon-12622" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12622" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-дубр">
                    <td style="text-align: center">45</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4978">
                             Дубр  <span class="alphanum">(Dubr)</span>

                        </a>


<span>
    <span id="lb-icon-12623" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12623" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-бозон">
                    <td style="text-align: center">46</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4980">
                             Бозон  <span class="alphanum">(Boson)</span>

                        </a>


<span>
    <span id="lb-icon-12624" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12624" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-красный-мельник">
                    <td style="text-align: center">47</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4986">
                             Красный Мельник  <span class="alphanum">(Red Miller)</span>

                        </a>


<span>
    <span id="lb-icon-12625" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12625" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-headliner">
                    <td style="text-align: center">48</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4989">
                             Headliner

                        </a>


<span>
    <span id="lb-icon-12626" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12626" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-дуболом">
                    <td style="text-align: center">49</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4992">
                             Дуболом  <span class="alphanum">(Dubolom)</span>

                        </a>


<span>
    <span id="lb-icon-12627" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12627" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-rockfor">
                    <td style="text-align: center">50</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4997">
                             Rockfor

                        </a>


<span>
    <span id="lb-icon-12628" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12628" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-драмлер">
                    <td style="text-align: center">51</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4998">
                             Драмлер  <span class="alphanum">(Drumler)</span>

                        </a>


<span>
    <span id="lb-icon-12629" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12629" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-тьма">
                    <td style="text-align: center">52</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4999">
                             Тьма  <span class="alphanum">(Darkness)</span>

                        </a>


<span>
    <span id="lb-icon-12630" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12630" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-кибер-зурк">
                    <td style="text-align: center">53</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5003">
                             Кибер-Зурк  <span class="alphanum">(Cyber-Zurk)</span>

                        </a>


<span>
    <span id="lb-icon-12631" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12631" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-носорог">
                    <td style="text-align: center">54</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5005">
                             Носорог  <span class="alphanum">(Rhino)</span>

                        </a>


<span>
    <span id="lb-icon-12632" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12632" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-тлепш">
                    <td style="text-align: center">55</td>
                    <td style="text-align: center">987.5</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/5008">
                             Тлепш  <span class="alphanum">(Tlepsh)</span>

                        </a>


<span>
    <span id="lb-icon-12633" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12633" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-34th">
                    <td style="text-align: center">56</td>
                    <td style="text-align: center">987.1</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4881">
                             34th

                        </a>


<span>
    <span id="lb-icon-12634" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12634" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-no17">
                    <td style="text-align: center">57</td>
                    <td style="text-align: center">983.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4948">
                             №17

                        </a>


<span>
    <span id="lb-icon-12635" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12635" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-гена">
                    <td style="text-align: center">58</td>
                    <td style="text-align: center">983.4</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/ru.svg " alt="RU Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4960">
                             Гена  <span class="alphanum">(Gena)</span>

                        </a>


<span>
    <span id="lb-icon-12636" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-12636" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>



                <tr id="row-егерь">
                    <td style="text-align: center">59</td>
                    <td style="text-align: center">958.3</td>
                    <td style="text-align: center"><img class="flag-image" src=" /static/flags/4x3/kz.svg " alt="KZ Flag"></td>
                    <td>
                        <span class="robot-name-cell">
                        <a href="/version/4867">
                             Егерь  <span class="alphanum">(Jaeger)</span>

                        </a>


<span>
    <span id="lb-icon-14546" class="difference-icon material-symbols-outlined mouseover-target lb-positive" style="transform: scaleX(-1);">new_label</span><span id="lb-tooltip-14546" class="tooltip lb-positive">New for 2023</span>

</span>

                        </span>
                    </td>

                </tr>


            </tbody>
        </table>
	</div>

