{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="main-content">
      {%block form%}
        <form method="post" {%if has_image%}enctype="multipart/form-data"{%endif%} action="{{next_url}}">
            {% csrf_token %}
            <fieldset>
                <legend><h1>{{title}}</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {{ form|crispy }}
                <input type="submit" value="Submit">
            </fieldset>
        </form>
      {%endblock%}
      {%block below_form%}{%endblock%}
    </div>
{% endblock %}
