*{
	font-family:arial,sans-serif;
}

.navbar{
	top:0;
	position:fixed;
	width:100%;
	background-color:lightgrey;
	overflow:hidden;
	display:inline-block;
}
.navbar a{
	display:inline-block;
	background-color:darkgrey;
	height:100%;
	padding:10px;
}
.navlinks{
	display:inline-block;
	float:right
}
.navlinks button{
	border:none;
}
.navtitle{
	float:left;
}

.content{
	margin-top:50px;
}

.content fieldset{
	text-align:center;
}
